[2015-01-12 13:15] DeepDiver1975 opened #7 "[travis] Unit test execution is failling"
@VicDeo please have a  look - THX

[code]

[2015-01-13 18:31] jerrac opened #9 "Is files_antivirus supposed to be in the apps folder?"
Specifically, I just downloaded the tar.gz for 7.0.4, and this app is not in the apps folder. Judging from the install instructions in the Readme.md, it seems like it should be... Should it?

If I install it manually, do I put http://github.com/kijin/simplesocket in the 3rdparty folder?

[2015-01-14 07:38] DeepDiver1975 commented on #9
@VicDeo can you please clarify this? THX - If this app has a 3rdparty dependency we should pull it in using composer - THX

[2015-01-14 07:38] #7 closed

[2015-01-14 17:35] VicDeo commented on #9
I'm not aware of 3rdparty libraries and haven't seen its usage. Most likely readme is outdated.

[2015-01-14 18:23] jerrac commented on #9
So, if I manually install this, I can just checkout the master branch,
stick it in apps, and it should be fine?

As for the subject of this issue,
http://doc.owncloud.org/server/7.0/admin_manual/configuration/antivirus_configuration.html
gives no indication that I should have to install files_antivirus
seperately from OwnCloud core. Yet, the 7.0.4 tarball does not contain
files_antivirus. It is su

[2015-01-14 19:21] VicDeo commented on #9
@jerrac this app is available for enabling from appstore even it is not bundled into the installation package:
 https://apps.owncloud.com/content/show.php/Antivirus?content=157439

But this requires working internet connection and `'appstoreenabled' => true,`  in `config.php`

[2015-01-14 19:36] jerrac commented on #9
@VicDeo using the app store does not work in my deployment workflow.

So, can you confirm that manual installation is just putting the files_antivirus folder in apps, then enabling the app via the admin ui?

The answer seems like an obvious "yes", but with the confusion over simplesocket, I want to confirm.

As for bundling, I'm just trying ot figure out if it is supposed to be bundled or not. If

[2015-01-14 21:44] DeepDiver1975 commented on #9
seems indeed to be outdated - please adjust @VicDeo THX

[2015-01-14 21:44] DeepDiver1975 commented on #9
yes :wink:

[2015-01-20 07:43] #9 closed

[2015-01-21 19:37] jerrac opened #12 "No notification email when trying to upload infected file via client"
I tried placing a file like what is described here: http://www.computerhope.com/issues/ch001386.htm in my OwnCloud folder. OwnCloud did not upload the file, but it did not actually send an email notifying me that my file was infected.

[code]

I assume that last line indicates that OwnCloud tried to send an email...

Here are a few more log messages that might be applicable.

[code]

I have php lo

[2015-01-21 19:39] karlitschek commented on #12
@VicDeo any idea?

[2015-01-21 19:48] jerrac commented on #12
FYI, my first tests were on 242b586f7e86ea3a9dcfa6f4dc33a2006f18a153 of files_antivirus. And I just pulled master and tested again with the same results.

[2015-01-21 19:52] jerrac commented on #12
And I just noticed that the client is throwing errors like:

Error downloading https://filehost.lanecc.edu/remote.php/webdav/ecairtest.exe - server replied: Internal Server Error (Could not rename part file to final file)

Which is a really really weird error message since the server doesn't even have that file on it...

[2015-01-21 20:38] DeepDiver1975 commented on #12
we are looking out for alternative integration points for future versions of ownCloud - see https://github.com/owncloud/core/issues/12052#issuecomment-63969264

[2015-01-21 20:38] DeepDiver1975 commented on #12
@VicDeo I assume this is the root cause why the email is not sent - please have a look - thx

[2015-01-22 19:14] jerrac opened #13 "Can we get better logging of infected files?"
If I have the log level set to everything, I get these messages:

[code]

If I set it to "Warnings, errors, and fatal issues", I only get:

[code]

That isn't very helpful. It doesn't say what file is infected, or what account the file belongs to.

An imaginary situation would be something like a user doesn't receive the email OwnCloud sent telling them that the file was infected (say postfix died

[2015-01-22 19:16] DeepDiver1975 commented on #13
@VicDeo please have a look - THX

[2015-01-23 10:40] DeepDiver1975 commented on #12
well - according to the code the email is sent to the logged in user in case an email is specified: https://github.com/owncloud/files_antivirus/blob/master/lib/notification.php#L16

I'm wondering if this is that sensful - the logged in user already does get feedback via the canceled upload.

[2015-01-23 10:43] DeepDiver1975 opened #15 "wrong handling of error case if virus is detected"
https://github.com/owncloud/files_antivirus/blob/master/lib/scanner.php#L90

bailing out with json error is soo wrong thinking about non browser access - e.g. webdav

Please evaluate how throwing an exception can also provide better feedback via webdav

@VicDeo

[2015-01-23 10:47] DeepDiver1975 commented on #15
quick test on cadaver even reports an successfull upload:

[code]

[2015-01-23 17:08] jerrac commented on #12
@DeepDiver1975 A) This issue is about what happens with the sync client, not the web ui. B) We do want the email. The notification in the web ui is only shown briefly, and it wouldn't surprise me if users never notice it. Maybe if the notification was something the user actually had to read and dismiss themselves... But I'd bet some would still just not get it. An email adds another level of confi

[2015-01-23 17:10] #13 closed

[2015-01-23 17:28] VicDeo commented on #12
@jerrac Can you test  https://github.com/owncloud/files_antivirus/pull/16 ?

[2015-01-23 19:31] DeepDiver1975 commented on #12
a canceled upload shall also be reported on the client - which is not the case - see #15

Regarding the receiver of the email - I would have expected that the admin(s) get some notification.

@VicDeo regarding notification - please get in touch with @nickvergessen to integrate files_antivirus with the activity app.

[2015-01-26 23:23] jerrac opened #17 "All files being detected as viruses"
As of 5ed42c0cee70da17d94aa7653bc8eaf9a8f5ce4a all the files I try to upload are being detected as viruses. Not just my ecair test file. This explains https://github.com/owncloud/files_antivirus/pull/16#issuecomment-71558781

I tested by checking out each commit until I found one that works (9e3f013a3a89e23fc46f69f4a7dbfd3a48924372), then went to the next commit to double check.

[2015-01-29 08:30] #17 closed

[2015-01-29 22:32] VicDeo commented on #15
@DeepDiver1975 should I throw it for WebDAV connections only?
throwing the exception causes the ''The target folder has been moved or deleted.'' bubble in Web UI at this point https://github.com/owncloud/core/blob/master/apps/files/lib/app.php#L86

Not really descriptive :/

[2015-01-30 16:38] DeepDiver1975 commented on #15
Please have a look at the exception which are currently handled by our webdav implementation: https://github.com/owncloud/core/blob/master/lib/private/connector/sabre/file.php#L96

One of them shall be suitable for this case.

The same exception should already properly be processed by the web based upload mechanism.

Please test the behavior or sync client as well as regular webdav clients.

THX a

[2015-02-02 19:14] VicDeo commented on #15
@DeepDiver1975
I tried throwing
`\OCP\Files\NotPermittedException`
`(\OCP\Files\EntityTooLargeException`
`\OCP\Files\InvalidContentException`
it's all the same

[code]

and owncloud.log

[code]

Is it OK to response with 500?

[2015-02-02 19:21] VicDeo commented on #15
And  Web UI says `The target folder has been moved or deleted` for infected files regardless the exception class

[2015-02-02 19:47] DeepDiver1975 commented on #15
Ah - yes - well - this is because antivirus is executed within a hook and hooks only log exceptions.

Hmmm - not much we can for now I guess.

Best would be to move av off the hooks and use a storage wrapper? @icewind1991
(Is storage wrapper the solution to everything .. this makes me shiver )

[2015-02-03 13:36] icewind1991 commented on #15
A storage wrapper would make this work yes

[2015-02-03 13:37] DeepDiver1975 commented on #15
@VicDeo let me know if you need more input on this - @icewind1991 can for sure help out as well.

Let's schedule this for 8.1 - THX

[2015-02-03 13:38] DeepDiver1975 commented on #15
@VicDeo please take the opportunity while working on this to
- use AppFramework
- push unit test coverage

THX

[2015-02-04 14:58] DeepDiver1975 commented on #15
@icewind1991 are we already in a stage where we could setup files_antivirus as a mount option?

[2015-02-05 14:25] icewind1991 opened #19 "Make virus checking async"
Currently the anti virus check is sync, meaning that it delays writing and uploading.

Simply moving the check into an async job wont work since then an uploaded virus could be downloaded before the infected file is detected.
A way around that would be to have a storage wrapper that block read access to any file that hasn't been checked yet, that way a file could be uploaded by the sync client, re

[2015-02-05 14:33] MTRichards commented on #19
OOh! This is a cool idea for a-sync jobs of any kind on a file...It is there, but can't be seen.

As long as we throw an error such as "file is processing" or something so the UX is smooth, would this work for other jobs too, such as a DLP scan?
@karlitschek @DeepDiver1975

[2015-02-05 14:36] karlitschek commented on #19
@icewind1991 This is an interesting idea. We have to assume that our clients and 3rdparty clients can handle such "blocked" requests in the right way. If this is only a matter of seconds than it might work. But if the external process takes several minutes than this might be a problem. Not sur if this is ok for all our async usecases.
But definitely and interesting direction.
@DeepDiver1975 what d

[2015-02-05 16:33] DeepDiver1975 commented on #19
For sure interesting - this ticket was opened after @icewind1991 explained me his idea.

Best would be to have a POC which we can easly hook up against dav clients (cadaver and oc desktop) to see if this works out properly.

As a more general approach this might help in many areas where we want to have async operations.

@karlitschek if you agree I'd like @icewind1991 to implement a general purpos

[2015-02-06 01:03] karlitschek commented on #19
Good idea. Let´s do this and explorer how far this ideas carries.

[2015-02-09 16:24] cdamken commented on #15
### Expected behavior
Use sync-client to upload a file with virus and receive an error message that the file contains a virus.

### Actual behavior
Use sync-client to upload a file with virus and client shows a generic server error and not a specific message about infection.

### Steps to reproduce.
1 Copy a file to the sync folder
2 Wait :smiley:

@MorrisJobke  There is no Blue-Ticket-Label

0000

[2015-02-09 16:57] DeepDiver1975 commented on #15
@cdamken we are working on this - scheduled for 8.1. I highly doubt we can find a proper solution for 8.0EE

[2015-02-09 20:05] koehn opened #21 "Use --fdpass with clamdscan"
If the path to `clamscan` is actually a path to `clamdscan`, the app should (possibly optionally) pass the `--fdpass` parameter to force `clamdscan` to pass the file descriptor to the `clamav` daemon. [This is faster and it allows the daemon to process files to which it wouldn't otherwise have read access](http://linux.die.net/man/1/clamdscan).

Administrators **cannot** currently affect this chan

[2015-02-16 09:59] cdamken commented on #15
@DeepDiver1975 Thanks a lot! :+1:

[2015-02-26 01:55] MTRichards opened #22 "App description needs an updated description"
in the antivir app admin page we ask for the path to clamscan. I thought we also support other anti-virus solutions? Then we need to call this field "Link to virus scanner - e.g. /usr/bin/clamscan" or similar. If this app only supports ClamAV we need to change the app description to say that. Right now the app description reads as if you can use different scanners.

[2015-02-26 01:56] MTRichards opened #23 "Minor view bug in advanced tab"
in the antivir app admin page, once you clicked on "Advanced" if the screen width is not very wide the buttons "Reset to default" and "Clear All" overlap the text to the left.

[2015-03-01 09:44] viegelinsch opened #25 "at least odt, ods, pdf not scanned"
My logfile shows the message `could not be scanned. Details: No matching rule for exit code -1. Please check antivirus rules configuration.` for file of type odt, ods, pdf at least.

I would appreciate a documentation where I need to configure this rules.
Help appreciated.

[2015-03-01 10:36] VicDeo commented on #25
@viegelinsch Admin page -> Antivirus Configuration -> Advanced -> Reset to defaults

[2015-03-01 12:57] viegelinsch commented on #25
Strange nothing changed there since installation but this fixed the problem.
Thank you!!!

[2015-03-01 12:57] #25 closed

[2015-03-03 08:21] jvillafanez opened #26 "[OC8.0.1] App description is wrong and misleading"
Current description:
[code]

Linking to https://github.com/owncloud/files_antivirus/issues/22 as we need to change the description so we can close 2 tickets

[2015-03-03 10:15] DeepDiver1975 commented on #26
Why opening a new issue?

[2015-03-03 10:15] #26 closed

[2015-03-03 10:15] DeepDiver1975 commented on #22
@MTRichards what should the app description look like? THX

[2015-03-03 10:16] DeepDiver1975 commented on #22
The current app description got changed back in https://github.com/owncloud/files_antivirus/commit/c6df80eec0af4e5f9071d8f4566844a962319180

[2015-03-03 12:47] jnfrmarks commented on #22
@DeepDiver1975

Is this a change for 8.0.1?

[2015-03-03 12:50] DeepDiver1975 commented on #22
8.0.1 is closed from my pov - any changes in what ever repo go into 8.0.2

[2015-03-03 12:56] jnfrmarks commented on #22
Agreed

[2015-03-04 14:58] VicDeo commented on #22
@MTRichards In general it should work not with clamscan but with any shell scanner  that is capable to read content from STDIN.
This has been never tested and requires defining own rules at the 'Advanced' section.
I spent some time to find another free antivirus for Linux and found nothing appropriate.
Comodo Free Antivirus refused to start its daemon so I didn't go further in this direction.

[2015-03-04 15:07] DeepDiver1975 commented on #22
let's tick with clamav for now as the tested configuration.

[2015-03-04 16:44] VicDeo commented on #21
@koehn at least  master/stable8/stable7 has this option:
![5st](https://cloud.githubusercontent.com/assets/991300/6488203/e1a1d584-c2a6-11e4-9d5f-c0ee3c111d19.png)

[2015-03-04 20:11] MTRichards commented on #22
@VicDeo Interesting - we should look into testing this in future releases once we have a better handle on the integration, what vendors support this, and have a chance to try it out.

[2015-03-04 20:55] DeepDiver1975 commented on #22
@MTRichards What shall we write into the app description now? The current description is totally broken - THX

[2015-03-04 20:55] DeepDiver1975 commented on #22
It contains the description of files_locking :rocket:

https://github.com/owncloud/files_antivirus/blob/master/appinfo/info.xml#L7

[2015-03-05 00:19] MTRichards commented on #22
How about this:
This application inspects files that are uploaded to ownCloud for viruses before they are written to the ownCloud storage. If a file is identified as a virus, it is either logged or not uploaded to the server. The application relies on the underlying ClamAV virus scanning engine, which the admin points ownCloud to when configuring the application.
For this app to be effective, the

[2015-03-05 07:43] DeepDiver1975 commented on #22
@VicDeo can you please adopt the description as proposed by @MTRichards above? THX

[2015-03-05 16:05] VicDeo commented on #22
@MTRichards @DeepDiver1975 done https://github.com/owncloud/files_antivirus/pull/28

[2015-03-05 16:06] VicDeo commented on #19
Started https://github.com/owncloud/files_antivirus/pull/27

[2015-03-06 08:09] #22 closed

[2015-03-06 15:04] #23 closed

[2015-03-06 18:30] VicDeo commented on #12
@jerrac can you retest with recent master or stable8?

[2015-03-06 18:32] VicDeo commented on #12
oh, wait, it hasn't fixed yet.

[2015-03-06 18:36] VicDeo commented on #12
@DeepDiver1975
which admin? Any admin user, all admin users or I need to introduce a new field for recipient?

[2015-03-14 21:49] sorglos commented on #21
stable8 and master but not stable7

[2015-03-16 19:22] VicDeo commented on #21
@sorglos sorry, enhancements are not backportable.

[2015-03-16 19:31] sorglos commented on #21
@VicDeo Okay, no problem.

[2015-03-17 21:30] VicDeo commented on #21
Closing as implemented.

[2015-03-17 22:41] #21 closed

[2015-03-21 19:56] #15 closed

[2015-04-17 18:13] jnfrmarks opened #38 "files_antivirus app does not pass occ app:check-code"
### Steps to reproduce

1. Install 8.1 enterprise
2. invoke occ app:check-code

### Expected behaviour

The app passes the check

### Actual behaviour

The app fails the check:

[code]

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enterprise Edition 8.1 alpha 1 (daily) Build:2015-04-16T03:08:13+00:00 f50798a674bf223e1c8015b9a27287b2ac6c9f1a

[2015-04-17 22:13] DeepDiver1975 commented on #38
@VicDeo this should all easily be solvable - THX

[2015-04-24 15:11] jnweiger opened #40 "files_antivirus works without enterprise key"
Do we consider files_antivirus an enterprise app? If so, it should check for auto-enabling the enterprise-key app.

As seen in 8.0.3~RC4 testing, files_antivirus app can  be enabled, while the enterprise_key app remains disabled.

[2015-04-24 15:11] LukasReschke commented on #40
files_antivirus is an opensource app.

[2015-04-24 15:13] LukasReschke commented on #40
You can either look at the license or usually more reliable when doubt is to check whether  repository is public or private:

**Private:**
![2015-04-24_17-12-17](https://cloud.githubusercontent.com/assets/878997/7321919/20f221be-eaa5-11e4-95b0-a9d0c5422add.png)

**Public:**
![2015-04-24_17-12-12](https://cloud.githubusercontent.com/assets/878997/7321920/2216df9e-eaa5-11e4-9388-c28cd002bef0.png)

[2015-04-24 15:13] #40 closed

[2015-04-24 15:17] jnweiger commented on #40
Right. On the other hand, I see it only in the enterprise tar balls and packages. Not in the communtiy releases.

[2015-04-24 15:17] LukasReschke commented on #40
Yes. We don't ship it per default but it's anyways AGPL licensed for history reasons.

[2015-05-15 17:00] jnfrmarks opened #44 "No message in log file when antivirus is run as executable"
### Steps to reproduce

1. Install 8.1
2. Enable antivirus app
3. Enable all logging
4. Navigate to admin page and configure antivirus app to use executable.
5. upload a file

### Expected behaviour

There is a message in the server log file that the file was scanned

### Actual behaviour

There isn't a message in the server log file that the file was scanned.  I can see that the clamd process was

[2015-05-15 17:10] DeepDiver1975 commented on #44
@VicDeo please take care of this - THX

[2015-05-15 17:36] VicDeo commented on #44
@DeepDiver1975 hm. it was a debug logging, I don't think it's needed. I'd rather remove it for socket too

[2015-05-15 17:45] VicDeo commented on #44
this is what we are talking about https://github.com/owncloud/files_antivirus/commit/4586b8791fe6fc89d705d40b440511863623f08f#diff-736111815ab6d0c4e11e26518142eca1L36

[2015-05-22 08:36] michaelstingl opened #46 "Error Files_Antivirus\Cron\Task' not found"
An user sent following errors:

[code]

ClamAV is running and can be accessed manually.

### Server configuration

**Operating system**:
FreeBSD 9.3-RELEASE-p5

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.4.13

**ownCloud version:**
8.0.2.0

@DeepDiver1975 could you check? Do you need more information? /cc @MorrisJobke

00003143

[2015-05-22 21:10] michaelstingl commented on #46
@cdamken asked about cron configuration and pointed to docs:
https://doc.owncloud.com/server/8.0/admin_manual/configuration_server/antivirus_configuration.html#installing-clamav

User replied:

[2015-05-23 10:59] VicDeo commented on #46
@michaelstingl it's already fixed https://github.com/owncloud/files_antivirus/pull/36/files

[2015-05-23 11:06] michaelstingl commented on #46
@VicDeo Thank you very much!

[2015-05-25 13:58] VicDeo commented on #46
Closing as a duplicate of https://github.com/owncloud/core/issues/15087

[2015-05-25 13:58] #46 closed

[2015-05-30 18:59] mesiah70 opened #47 "Not Checked. No matching rule for exit code -1. Please check antivirus rules configuration. File: 217Account: 057167C9-04F5-4F24-B825-0E5748DAFFA5 Path: /files_antivirus-stable8.zip"
Hello,

what does that mean in my log? Not Checked. No matching rule for exit code -1. Please check antivirus rules configuration. File: 217Account: XXXXXXXXX   Path: /files_antivirus-stable8.zip

What I have to do to get clasmav working correctly without showing the error message above. Every time I upload a file, I got this error.

"Reset to defaults" didn't help

Thanks for your help

Mesiah

[2015-06-01 09:21] #44 closed

[2015-06-01 09:24] DeepDiver1975 opened #48 "Clean code ...."
![bildschirmfoto von 2015-06-01 11 22 57](https://cloud.githubusercontent.com/assets/1005065/7909935/9fa7291e-0850-11e5-9e32-a7fb176021ea.png)

@VicDeo aren't you using PHPStorm? My eyes are bleeding if I see such code :wink:

[2015-06-01 09:24] DeepDiver1975 commented on #38
closed as of #39

[2015-06-01 09:25] DeepDiver1975 commented on #47
@VicDeo please have a look - THX

[2015-06-01 09:26] #12 closed

[2015-06-01 15:26] VicDeo commented on #47
@mesiah70 Do you have any rules in `advanced` section?

[2015-06-01 15:33] VicDeo commented on #48
@DeepDiver1975

I'm happy with Netbeans

[2015-06-01 15:37] DeepDiver1975 commented on #48
I assume Netbeans also has nice colors? :wink:

[2015-06-01 15:40] VicDeo commented on #48
@DeepDiver1975 sort of and it's  :free:

[2015-06-01 15:44] VicDeo commented on #47
@mesiah70 ah, and according to your previous reports please let me know whether the table `oc_files_avir_status` exists in your database.

[2015-06-01 18:46] DeepDiver1975 commented on #48
so - please - use the tools of choice and stop my eyes bleeding :wink:

[2015-06-01 19:15] VicDeo commented on #48
@DeepDiver1975 Do you mean a yellow background areas?
These pieces are not highlighted by Netbeans.
Syntax analyzer is seems to be a property of Jetbrains :japanese_ogre:

[2015-06-01 19:28] DeepDiver1975 commented on #48
L29 - wrong var declaration (missing \)
Any various typos (fopen for sure not - but other green underlined areas)

[2015-06-01 19:28] DeepDiver1975 commented on #48
Maybe not that great tool then ....

[2015-06-01 19:48] VicDeo commented on #48
@DeepDiver1975 it's nothing but sugar nested in comments, not a real code.

[2015-06-01 21:01] mesiah70 commented on #47
Yes, I do have rules, see below. I forgot to install clamav, now I've installed, not clamav Errors occured. How do I know, if the files are scanned? Further regarding  oc_files_avir_status   issue, I've removed the lines you've  showed and after that, all updates were through.

Scanner exit statuusScanner output 0  CleanInfectedUnchecked
 Scanner exit statusScanner output 1  CleanInfectedUnchecked

[2015-06-01 21:28] VicDeo commented on #47
@mesiah70 so, it is gone after installing clamav?
Try uploading eicar http://www.eicar.org/86-0-Intended-use.html

[2015-06-02 19:36] mesiah70 commented on #47
Hello and sorry for replying so late. Yes indeed, I've uploaded (or tried) the eicar file, but clamav refused it to upload. So the clamav solution is working just fine.

1. Of course you must install the clamav first(this I forgot
2. You need to point to the correct clamav path
3. clamav has to run in daemon mode.

We can close this issue, thank you

[2015-06-15 09:23] #47 closed

[2015-06-25 20:13] cmonteroluque commented on #38
@DeepDiver1975 @VicDeo this is ready to be closed then?

[2015-06-25 20:20] #48 closed

[2015-06-25 20:20] DeepDiver1975 commented on #48
Issue has been addressed thx

[2015-06-25 20:57] #38 closed

[2015-06-26 17:48] jnfrmarks opened #53 "Inconsistency around file scanning and file scan log messages"
### Steps to reproduce

1. Install 8.1
2. Enable antivirus app
3. Set logging to everything
4. Upload a file from the webui or from cadaver

### Expected behaviour

There should be a message in the server log indicating that the file is being scanned.

### Actual behaviour

The message shows up sometimes.  I *think* that there's a cron job running that kicks off the scan which would explain why th

[2015-06-26 17:54] VicDeo commented on #53
and?
it really does scans something that is a `file` and something that is `content written to a file`
fileId and filename is not available in the latter case (by design).

[2015-06-26 18:02] jnfrmarks commented on #53
When is the file supposed to be scanned?  At upload time?

I'm trying to test what happens when an infected file is upload to test #50.  I was expecting the file to be detected as infected and not uploaded (I using a file I downloaded from EICAR) but that isn't the case.

[2015-06-26 18:10] VicDeo commented on #53
@jnfrmarks
1. the app sets a hook on writing access to any file on the wrapped storage. When the content is being written it is scanned for viruses on the fly
2. all files on user storages are scanned for viruses by cronjob.

[2015-06-26 18:39] jnfrmarks commented on #53
@VicDeo

So, for #1 above, when I upload a file either from the WebUI or webdav to local storage, I should see messages in the server log file that the file is being scanned.

For #2, files will first be stored on the external storage and then scanned at some later point when the cron job is executed.

Is that right?

[2015-06-26 18:58] jnfrmarks commented on #53
This might just be a webdav issue.  I see the messages when uploading via webUI

@DeepDiver1975

[2015-06-30 16:13] VicDeo commented on #53
@jnfrmarks For #1 filename is not available when the content is scanned simultaneously with uploading it to OC. It is just a stream (a resource that contains data arriving in async mode until the End Of File event is triggered. )

[2015-06-30 16:13] VicDeo commented on #53
Webdav issue is addressed in https://github.com/owncloud/files_antivirus/pull/50

[2015-06-30 17:57] jnfrmarks opened #55 "Need improved error message when an infected file is blocked from being uploaded"
### Steps to reproduce

1. Install 8.1
2. Enable antivirus app
3. Upload an infected file

### Expected behaviour

The file should not be uploaded and the user should get some type of message indicating why the file wasn't uploaded

### Actual behaviour

The file is not uploaded but the message is really vague:

![p368](https://cloud.githubusercontent.com/assets/8480343/8437848/d69ec9ae-1f2f-11e5-

[2015-06-30 20:14] #55 closed

[2015-07-03 09:56] Kawohl opened #57 "Antivirus app executable should not be by default"
The antivirus app is set to executable mode by default. This should be turned off

@butonic

[2015-07-08 09:42] jancborchardt opened #61 "App is marked as »Experimental«"
![capture du 2015-07-08 11-40-34](https://cloud.githubusercontent.com/assets/925062/8567532/51b55bee-2566-11e5-8080-4bccced788c6.png)

Should most probably be »Official«. @DeepDiver1975 said this is defined via a json file in core. cc @VicDeo

[2015-07-13 12:23] TeZet2 opened #63 "AntiVirus 0.7.0.1 crashes cron in OC 8.1?"
Without activating Antivirus 0.7.0.1 cron works fine (OC 8.1). After activating app cron crashes with the following error:

PHP Fatal error: Call to a member function getUID() on a non-object in /var/www/owncloud/apps/files_antivirus/lib/backgroundscanner.php on line 94

This behavior is the same for running the app as deamon or as executeable. Deactivating app will result in a functioning cron ag

[2015-07-13 15:06] DeepDiver1975 commented on #63
@TeZet2 which user backends are you using? How many users are on the backends? THX

[2015-07-13 15:26] TeZet2 commented on #63
Whooaaa, that's fast!!! I played around a little bit with LDAP but I am finished with that, LDAP has been deactivated again (but not sure if there are any permanent residues). What I am (successfully) using is OTP (multifactor authentication, OTP extension 2.5) but this is not active for all accounts (in fact it is not for the administrator account in order to have always a back door). Beside that

[2015-07-13 15:46] DeepDiver1975 commented on #63
I have no idea how this app is implemented - but it might have a negative impact on the user manager search functionality.

[2015-07-13 15:52] TeZet2 commented on #63
I will give it a try (no problem at all as it is only running in a test environment for now). And since OC is running on ESXi I can simply do a snapshot and revert afterwards. As I am currently at work I need to go home first, so feedback will take two to three hours. Stay tuned ... ;-).

[2015-07-13 19:29] TeZet2 commented on #63
Bulls eye! I have deaktivated the OTP app and - voila - cron was fully functional with Antivirus 0.7.0.1 aktivated. After enabling OTP backend again cron crashed again. So seems to be some sort of incompatability. Any chance to fix this? Otherwise this is a decision between pest and cholera: Either sacrifice security during login or jeopardize the system by unrecognized viruses ... . Anyway, many

[2015-07-13 19:33] DeepDiver1975 commented on #63
I'd suggest to get in touch with the developer of the OTP app to get this fixed - you are for sure not the only user who might get affected

[2015-07-13 19:39] TeZet2 commented on #63
Will do. If no one mind I will keep this thread open for a few more days in case I get a feedback so all information will be in one place. If no new information turns up I will close this thread in about one week. Many thanks again.

[2015-07-16 12:22] lwt-pressy opened #64 "high database load on scan"
A high load is produced by scan statement below (about 30 sec on a tiny server). It can be fixed by adding an index on `oc_files_antivirus` for field `fileid`. With this index it only takes 0,005 sec.

SQL-Statement: "SET timestamp=1437046211; SELECT `oc_filecache`.`fileid`, `path`, `oc_storages`.`id` FROM `oc_filecache` LEFT JOIN `oc_files_antivirus` ON `oc_files_antivirus`.`fileid` = `oc_filecac

[2015-08-05 22:07] RostC opened #66 "Change recipient name in notification mail if using user_ldap"
If I use files_antivirus and user_ldap app the recipient name in the notification mail is in standard config something like
D14AB3F9-08F1-43AE-B83D-1D678A8A5416 <mail@myhost.com>

This is because the "username" in the database is  the AD objectGUID.
Would be great if in this case the displayname for example is the recipient name.

[2015-08-05 22:19] karlitschek commented on #66
@VicDeo What do you think?

[2015-08-06 05:24] michag86 opened #68 "Infected file is moved only to trash if "delete file" is activated"
### Steps to reproduce
1. Activate files_antivirus, configure and check that it is working
2. install/enable "Deleted files" app
3. set action for infected files to delete file
4. upload eicar test virus
5. go to deleted files
6. restore eicar test virus
7. now the virus can be downloaded or shared with other users

### Expected behaviour
infected file is deleted and not accessable by the user

##

[2015-08-06 13:37] karlitschek commented on #68
@VicDeo

[2015-08-06 15:16] Daniae opened #69 ""fwrite(): send of 4 bytes failed with errno=32 Broken pipe at \/var\/www\/owncloud\/apps\/files_antivirus\/lib\/scanner.php#68"
Hi,

i have a Problem with ownCloud 8.1.0 and files_antivirus 0.7.0.1. I got the following message several times in a second in the owncloud.log:

remoteAddr":"","app":"PHP","message":"fwrite(): send of 4 bytes failed with errno=32 Broken pipe at \/var\/www\/owncloud\/apps\/files_antivirus\/lib\/scanner.php#68","level":3,

I can not find the source of this problem. Is there anyone who knows why th

[2015-08-07 09:19] DeepDiver1975 commented on #69
@VicDeo please have a look - THX

[2015-08-07 13:03] Daniae commented on #69
Hi,

i found the cause of this message. The Problem appears if the cron.php from owncloud runs the first time on the server. If i start the Server without using the cron.php, i get no entry in the owncloud.log. I use the Cron entry described in the ownlcoud 8.1 documentation: https://doc.owncloud.org/server/8.1/admin_manual/configuration_server/background_jobs_configuration.html?highlight=cron

I

[2015-08-11 19:46] ezraholm50 opened #70 "errors"
"reqId":"a8bf2ca524752014e6c8b7ff98cd","remoteAddr":"192.168.1.1","app":"PHP","message":"fwrite(): send of 1028 bytes failed with errno=32 Br"PUT","url":"\/remote.php\/webdav\/InstantUpload\/20150616_085350.mp4-chunking-7618-65-64"}$=32 Broken pipe at \/var\/www\/owncloud\/apps\/files_antivirus\/lib\/clamav.php#138","level":3,"time":"2015-06-16T06:54:43+00:00","method":"PUT",$

ubuntu 14.04
apache

[2015-08-11 20:43] karlitschek commented on #70
@VicDeo can you have a look?

[2015-08-12 17:06] VicDeo commented on #70
broken pipe means that connection was closed by other side (clamav)
there is no file `clamav.php` even for stable8 branch: https://github.com/owncloud/files_antivirus/tree/stable8/lib
Most likely your `files_antivirus` version is very very old.

[2015-08-12 17:09] VicDeo commented on #70
Looks like that newer versions are also affected https://github.com/owncloud/files_antivirus/issues/69
Closing as a duplicate.

[2015-08-12 17:09] #70 closed

[2015-08-12 17:14] VicDeo commented on #69
@Daniae
What exact cron mode you are using (webcron, ajax. etc)?
What are the files_antivirus app settings?

[2015-08-12 17:29] VicDeo commented on #63
https://github.com/owncloud/files_antivirus/blob/master/lib/backgroundscanner.php#L91
Should return an array of objects implementing \OCP\IUser interface.
https://github.com/owncloud/core/blob/master/lib/public/iusermanager.php#L105
(or an empty array if there is no single user in this OC instance)

[2015-08-13 10:30] Daniae commented on #69
Hi VicDeo,

i use cron with the cron.php. My Crontab has this entry:

*/15  *  *  *  * php -f /var/www/owncloud/cron.php > /dev/null 2>&1

This are my settings in the administration panel for the files_antivirus app:

Modus: Deamon Socket
Socket: /var/run/clamav/clamd.ctl
Übertragunsgslänge: 10485760
Aktion: Loggen

This is my /etc/clamav/clamd.conf:

#Automatically Generated by clamav-daemon post

[2015-08-13 17:07] cdamken opened #72 "Installing commercial virus scanner in owncloud"
Customers keep asking me if they can user commercial virus scanner with owncloud.

We talk about clamav in our documentation: https://doc.owncloud.com/server/8.1/admin_manual/configuration_server/antivirus_configuration.html?highlight=antivirus#configuring-clamav-on-owncloud

But it suppose to run different antivirus too.

I asked in IRC without success.

Could you provide me more information? and

[2015-08-13 17:52] DeepDiver1975 commented on #72
We tested no other solution \product.

@mtrichard pm call - thx

[2015-08-13 19:02] cdamken commented on #72
@DeepDiver1975 Thanks

@MTRichards @bboule Is there any way we can test one or two?

[2015-08-13 20:49] MTRichards commented on #72
Who did the initial development? I can't recall.

In theory it can, that was the development spec a long time ago, and how it was built, but needs testing. That is either a qa person or one of our gcx team.  Obviously.

[2015-08-13 21:10] DeepDiver1975 commented on #72
Initial by some external contributor - now @VicDeo is maintaining the app

Yes - within the app the admin can specify any other command line scanner.

If we make this a qa task we should explicitly select one or two commercial scanners and state that we support them (once we know the integration works) and keep this as topic for the qa plan to retest these scanners on every release (major and main

[2015-08-13 21:44] MTRichards commented on #72
Ok. So are you asking me which 2? @cdamken?

[2015-08-14 07:15] cdamken commented on #72
@MTRichards Both customers asked about McAffee, that could be one of them.

I know that Kaspersky and Sophos are good too,

also there are free and paid versions like Avast, Bitdefender, AVG.

IMO McAffee (http://www.mcafee.com/us/products/virusscan-enterprise-for-linux.aspx) and Kaspersky (http://www.kaspersky.co.za/business-security/linux-file-server-antivirus) could be the options.

[2015-08-14 12:49] MTRichards commented on #72
@DeepDiver1975 Agreed
It looks like McAfee at the top, then Kaspersky, Symantec and Trend Micro. Sophos a little further down.

Let's go with McAfee and Kaspersky for now.

@cmonteroluque @DeepDiver1975 @karlitschek How do we add some time for antivirus testing to the queue?

Once we confirm this works, we can then adjust our documentation and marketing.
@carlaschroder FYI, when this is all tested

[2015-08-14 14:41] DeepDiver1975 commented on #72
Do we have the required licenses at hand?
How many licenses we need?
- x for devs
- x for qa
- x for documentation
- x for support
- x for gcx

[2015-08-14 16:37] cdamken commented on #72
@DeepDiver1975 There is a 30 days trial period in both antivirus

[2015-08-14 16:48] MTRichards commented on #72
I am trying to get partner programs set up, but we may have to make do with the 30 day license.

[2015-08-14 17:15] LukasReschke commented on #72
I'm pretty confident this is going in the wrong direction. Please take a look at ICAP and such stuff before going to do black magic using `exec`. :speak_no_evil:

[2015-08-14 17:53] DeepDiver1975 commented on #72
ICAP? please elaborate - THX

[2015-08-14 17:58] MTRichards commented on #72
I think https://en.wikipedia.org/wiki/Internet_Content_Adaptation_Protocol

[2015-08-24 16:50] VicDeo commented on #63
@TeZet2 any news from the OTP developer?
We merged https://github.com/owncloud/files_antivirus/pull/71 meanwhile.
You are welcome to test it.

[2015-08-31 07:42] mislav-eu commented on #69
I had exactly the same problem with clamav, owncloud.log after few hours was around 10-20GB.

Error in owncloud.log:
{"reqId":"xy","remoteAddr":"","app":"PHP","message":"fwrite(): send of 4 bytes failed with errno=32 Broken pipe at \/var\/www\/owncloud\/apps\/files_antivirus\/lib\/scanner.php#68","level":3,"time":"2015-08-31T06:40:13+00:00"}

Cron was running as cron (clamav as daemon (socket)):
#

[2015-09-03 20:30] TeZet2 commented on #63
No news from OTP developer. My apologies for taking so long to test the changes. I replaced the "original" files by those listed above. I am impressed, the cron.php error is gone, no errors are shown in owncloud.log. What is not clear to me, does this fix mean that clamav is working or does it only suppress errors? Is there any chance to test anti-virus functionality (i.e. using EICAR)? Beside thi

[2015-09-05 15:25] VicDeo commented on #63
@TeZet2
the app doesn't scan files in background now. Because we can't fix user retrieval we just check if any valid user is found.

But it still does scan files after uploading them.

[2015-09-05 15:27] VicDeo commented on #61
@karlitschek is files_antivirus `experimental` or `official`? :unsure:

[2015-09-07 19:19] VicDeo commented on #69
@Daniae how much memory do you have on this server?

[2015-09-08 00:28] karlitschek commented on #61
It should be official
:-)

[2015-09-08 07:25] Daniae commented on #69
Hi,

thanks @mislav-eu i tried your solution but for my case it is not working. My system has 8GB Memory. I tried to use 6Gb and only 512MB for the upload_max_filesize and post_max_size but i got still the error also after rebooting the system. Do you need more information?

[2015-09-08 13:41] VicDeo commented on #61
@DeepDiver1975 any reasons for removing `shipped` in https://github.com/owncloud/files_antivirus/commit/96f02016ab510b06b009c96c9bad3ba3289437af#diff-224bb875c5d3cfcd7621135069013242 ?

[2015-09-08 13:46] karlitschek commented on #61
Well the problem is that it is part of the tar for EE but comes from the app store for community. That's the problem :-(

[2015-09-08 18:55] VicDeo opened #73 "[master]"
cron

PHP Fatal error:  Call to undefined method OC\Files\Cache\Cache::getMimetypeId() in apps/files_antivirus/lib/backgroundscanner.php on line 112

[2015-09-09 07:37] DeepDiver1975 commented on #61
The shipped flag in info.XML is no longer evaluate.

[2015-09-14 07:38] dbeniamine opened #74 "Shared file scanning: File does not exists"
Hello,

I use clam 0.98.7 in socket mode with ownclooud 8.1.1 and I have a weird issue:
Their is one file (file.pdf) in a shared directory (dir) from a user A to a user B that is constantly scanned in user B home by clam while it actually exists only in A's home directory ...

[code]

How can I tell owncloud /clam to stop trying to scan this file ?

P.S: I originally submit the bug here by error h

[2015-09-14 08:00] karlitschek commented on #74
@VicDeo any idea?

[2015-09-17 13:13] cdamken commented on #72
@MTRichards  Did we got the partner program or we can test with a 30 day license?

@DeepDiver1975 Is there something I can help to testing it?

@LukasReschke  Which direction should we go?

[2015-09-17 13:17] LukasReschke commented on #72
Well. Whatever PM wants. I'm just saying that there are somewhat open standards that are somewhat working. Though they are more supported by the more enterprisy software products ;-)

[2015-09-17 13:36] MTRichards commented on #72
No we did not get the partner program on any of it.
This will require developer time to test with a demo license to start. Honestly, the actual license is real short.

[2015-09-17 14:23] cdamken commented on #72
@MTRichards That means for now we have an estimated time to deliver a solution?

[2015-09-17 15:27] MTRichards commented on #72
No. Like I said, needs engineering time and none has been allocated.

--
Matt Richards
VP Products & Markets
ownCloud, inc.

[2015-09-17 16:38] fsbruva commented on #69
Good afternoon-

I am having the same issue. In clamd.conf, my StreamMaxLength is 2000M, my .httaccess file has upload/file size at 512MB, and the system RAM is 16 GB.

When I attempt to run the cronjob (identical to @Daniae 's config), I get the same error. If I turned on  Debug and Verbose logging in ClamAV, and got the following when I ran the cronjob:
[code]

So, it seems there is something am

[2015-09-20 16:34] VicDeo commented on #73
Fixed with https://github.com/owncloud/files_antivirus/pull/75

[2015-09-20 16:34] #73 closed

[2015-09-22 20:44] #53 closed

[2015-09-29 19:26] VicDeo commented on #68
hm.
and how it is supposed to bypass `files_trashbin`? Kill it with fire before deleting an infected file?

[2015-09-30 05:50] #68 closed

[2015-09-30 16:50] VicDeo commented on #69
@fsbruva how much free space do you have on partition where `/tmp` directory located?

[2015-09-30 17:00] VicDeo commented on #69
Please also post your `Antivirus Configuration` section content at the admin page. Especially value for
`Stream Length` input

[2015-10-06 10:12] DeepDiver1975 commented on #69
@cmonteroluque @karlitschek we didn't have a chance to reproduce this issue -> 9.0 :question:

[2015-10-06 10:40] karlitschek commented on #69
yes! :-)

[2015-10-09 15:47] #66 closed

[2015-10-13 11:18] Rooie opened #77 "files_antivirus breaks cronjob and fills log with an error"
Hello,

After a couple of days of the install of my ownCloud instance, something unclear happened to the installation of which I haven't figured out yet.

When ownCloud wants to execute the cronjob, it returns this error:

`"fwrite(): send of 4 bytes failed with errno=32 Broken pipe at \/var\/www\/owncloud\/apps\/files_antivirus\/lib\/scanner.php#68"`

and does not execute the cronjob.

I've disab

[2015-10-13 13:51] VicDeo commented on #77
@Rooie exact duplicate of https://github.com/owncloud/files_antivirus/issues/77 so let's continue there
Please answer the questions in https://github.com/owncloud/files_antivirus/issues/69#issuecomment-144473673 and https://github.com/owncloud/files_antivirus/issues/69#issuecomment-144476899

Closed as a duplicate

[2015-10-13 13:51] #77 closed

[2015-10-13 14:27] VicDeo commented on #57
@Kawohl I'm not sure what you mean here.

[2015-10-13 17:29] VicDeo commented on #74
@dbeniamine you can put it's fileId into `oc_files_antivirus` table
something like
`insert into files_antivirus (fileid, check_time) values (FILEID, TIMESTAMP);`
where FILEID is fileId of that file (2023 in your case)
and TIMESTAMP is current unixtime e.g. http://www.epochconverter.com/

[2015-10-13 18:48] dbeniamine commented on #74
@VicDeo: thanks for your reply.

When I ran the sql line, it appears that the file was already in table with timestamp: `1442388629`
I guess an upgrade solved the problem ...

Still thanks for your help :)

[2015-10-13 18:53] VicDeo commented on #74
@dbeniamine hm. I remember there was an issue with resolving path by fileId for shared directory content, but if I'm not mistaken it was fixed before 8.1 release.
So no such log entries any more?

[2015-10-13 19:32] dbeniamine commented on #74
No nothing since october 1st (the day I purged the logs), so I guess it's okay for me (I have a lot of other files shared without problems).

[2015-10-28 08:59] tflidd opened #81 "Update 2.0.2: Sync-folder deleted"

[2015-10-28 09:00] tflidd commented on #81
sorry wrong repo.

[2015-10-28 09:00] #81 closed

[2015-10-30 14:21] fsbruva commented on #69
Good morning-

@VicDeo The partition where /tmp is located has 1.8T of free space.

Additionally, here is the antivirus config:
ModeExecutable: Daemon Daemon (Socket)
Socket: /var/run/clamd/clamd.sock
Stream Length bytes: 10485760
Action for infected files found while scanning: Only log

I originally installed the app from the webstore. I disabled and uninstalled the app. When I re-installed it, t

[2015-11-05 15:14] cdamken commented on #72
@MTRichards How does it look now? Could I deliver some news to the customer?

[2015-11-05 15:30] MTRichards commented on #72
Same story, sadly. Still. Needs engineering resources.

[2015-11-05 15:31] MTRichards commented on #72
@cmonteroluque we full up for 9, right? Maybe I can tag as 9.0.

[2015-11-06 21:10] fsbruva commented on #69
@VicDeo I figured out my issue. My combination of Freebsd, php 5.6, clamav, etc. totally lost its mind when the background scanner attempted to scan an empty text file. I can repeat the above referenced poor behavior by creating a text file using the "Files" tab of the webgui. If the cron job runs, it will hang, and the log will be filled with the above errors. Killing the cron.php process is the

[2015-11-10 09:34] cmonteroluque commented on #72
@MTRichards We are definitely full up for 9.0, and just the same, we can increase the priority on this if it's required. I don't think having a 30-day trial license is a great idea but if we're going to go that way then I would postpone this work until we've shipped 9.0.0 and then do the testing as part of the 9.0.1 work so we take advantage of the license right before we ship. If it's urgent (as

[2015-11-10 13:37] MTRichards commented on #72
Ok, I can live with that timeline. In the grander scheme this is not super urgent, but becomes a bit of a testing problem too.
 I will tag 9.0.1.

[2015-11-17 15:35] michag86 commented on #69
@VicDeo @fsbruva I can confirm this. We had some 0 byte files and I've got the same error message.

After deleting all 0 byte files everything is working fine.

I've created/uploaded some new 0 byte text files but cron.php is still running without problems. How long does it take until these files are scanned in the background?

[2015-11-17 16:09] VicDeo commented on #69
@fsbruva @michag86 can you please  test  https://github.com/owncloud/files_antivirus/pull/82 ?

[2015-11-17 23:23] fsbruva commented on #69
@michag86 It took my server a few runs (<10?) of cron to index the new files and jam up the background scanner. The cronjob only scans 5 files at a time.

@vicdeo I will be able to test this tomorrow.

[2015-11-18 13:23] michag86 commented on #69
I cannot reproduce it at the moment. I will wait for the error and apply the fix.

[2015-11-18 15:38] fsbruva commented on #69
Sorry for the multiple references - n00b git mistake.... over... and over....

[2015-11-23 16:23] felixboehm commented on #69
Please Backport
@karlitschek

00004215

[2015-11-23 16:27] karlitschek commented on #69
@vicdeo what do you think about a backport?

[2015-11-23 17:48] VicDeo commented on #69
@karlitschek backport is possible.
@felixboehm is 8.1 and 8.2 enough?

[2015-11-23 18:27] felixboehm commented on #69
I think 8.1 and 8.2 is enough. At least a good reason to update.
Thanks

[2015-11-23 18:38] karlitschek commented on #69
O.K. Please backport

[2015-11-23 21:05] VicDeo commented on #69
#84
#85

[2015-12-07 14:50] CaptionF commented on #69
@VicDeo is it possible to backport to 8.0?

[2015-12-07 20:26] VicDeo commented on #69
@CaptionF Are you suffering from this issue?

[2015-12-07 23:26] CaptionF commented on #69
customer not ready for upgrade to 8.1 or 8.2!
yes please.

[2015-12-10 07:50] CaptionF commented on #69
@VicDeo how long would this take to get a patch for 8.0.x?

[2015-12-11 12:38] VicDeo commented on #69
@CaptionF see #86

[2015-12-11 12:44] CaptionF commented on #69
@VicDeo Great !

[2015-12-15 19:28] VicDeo commented on #69
If I'm not mistaken,  a max size limit should be introduced to fix this completely.
And it's tricky. :\
There is a dozen of limits and the are not pretty straightforward
see https://github.com/vrtadmin/clamav-devel/blob/0.99.1/etc/clamd.conf.sample#L437

[2015-12-15 19:37] VicDeo commented on #69
I mean misplaced zero chunk is fixed. The one that gives
[code]

On the clamd side.

But
[code]

in owncloud log also logged when the file exceeds clamd limits.

[2015-12-15 19:53] michag86 commented on #69
Thats true. I solved this with setting MaxFileSize to the same value as maxuploadsize in ownCloud settings. In my case this is 5GB.

[2015-12-15 20:02] VicDeo opened #87 "App inherits cronjob from legacy cron class"

[2015-12-23 15:26] rolandbu opened #88 "{PHP} fwrite(): send of 36 bytes failed with errno=32 Broken pipe"
Hi

We are running owncloud 8.2.2, Debian jessie with clamav 0.98.7+dfsg-0+deb8u1 (upgrade from debian wheezy with owncloud 8.0.1)

The owncloud app "Antivirus App for files  0.6" is active.

The first lines of the problem:
<code>
Dec 23 14:30:02 server ownCloud[23593]: {files_antivirus} Exec scan: files/Dokumente/Mathe/test.pdf
Dec 23 14:30:02 server clamd[6228]: WARNING: INSTREAM: Size limit rea

[2015-12-28 15:43] bboule commented on #69
@felixboehm Looks like the backports are what you needed for this case?  I assume we can move this to resolve (which I did) let me know if otherwise

[2016-01-06 07:16] GitHubUser4234 commented on #72
May I ask, will 9.0.1 only support ICAP for McAfee and Kaspersky? Or will Symantec be included also? Thanks.

[2016-01-06 10:02] rolandbu commented on #88
any ideas?

[2016-01-07 20:50] bboule commented on #72
@cdamken does this work?  Have you informed the user?

[2016-01-07 20:52] MTRichards commented on #72
It is a matter of testing a setup. In theory it should work, but it needs testing.

@cmonteroluque I like the idea of using this for 9.0.1, testing post release of 9.0

[2016-01-08 15:22] cdamken commented on #72
@bboule Yes, that will work and I did informed too

[2016-01-13 21:58] cmonteroluque commented on #72
@rperezb @SergioBertolinSG @davitol @jvillafanez to add to work for 9.0.1

[2016-01-25 10:29] CaptionF commented on #72
https://github.com/owncloud/enterprise/issues/1040

[2016-01-28 20:09] felixboehm commented on #72
let me test integration of some alternatives

[2016-01-31 09:16] ezraholm50 opened #89 "OC 8.2 support"
Could you update the owncloud appstore please?

[2016-01-31 10:44] VicDeo commented on #89
@ezraholm50 published a minute ago.

[2016-01-31 17:56] ezraholm50 commented on #89
You're the best. Thanks for this great app!!!

Op zo 31 jan. 2016 11:44 schreef VicDeo <notifications@github.com>:

--

Met vriendelijke groet,

E. Holm

[2016-02-01 17:27] #89 closed

[2016-02-18 09:08] rolandbu commented on #88
More information

<code>
==> clamav/clamav.log <==
Thu Feb 18 09:32:10 2016 -> instream(local): Eicar-Test-Signature(44d88612fea8a8f36de82e1278abb02f:68) FOUND
</code>

<code>
==> syslog <==
Feb 18 09:32:10 deb-oc-01 clamd[729]: instream(local): Eicar-Test-Signature(44d88612fea8a8f36de82e1278abb02f:68) FOUND
 </code>

<code>
==> syslog <==
Feb 18 09:32:10 deb-oc-01 ownCloud[20552]: {files_antiviru

[2016-02-18 10:48] felixboehm commented on #72
https://github.com/owncloud/enterprise/issues/1040#issuecomment-185651077

[2016-02-18 11:05] felixboehm commented on #72
I could not get a response from Symantecs SAV as exit code or on stdout. Please let me know if s.o. uses this and knows more about this.

[2016-02-18 17:23] PVince81 commented on #69
Any update ? Can this be closed or is there anything left to be fixed ?

[2016-02-22 17:38] carlaschroder commented on #72
Is this ready to document? I need access to a test system.

[2016-02-23 11:43] MorrisJobke commented on #69
This is available in 8.1.5 and 8.2.2 -> closing

[2016-02-23 11:43] #69 closed

[2016-03-10 19:53] ezraholm50 commented on #89
@VicDeo could you please update the appstore again for OC 9.0

[2016-03-11 12:14] ksbckr opened #95 "integrity check failed owncloud 9.0"
Hey there, just made an upgrade install via ubuntu package from 8.2.2.
The admin panel shows following error:
[code]
Replaced the files_antivirus folder with the 9.0.0 tag from this repo, but error still exists. I'm not sure if its a problem of my config or the antivirus package itself, but I haven't had problems in previous versions.
Current system: Linux 3.16.0-60-generic #80~14.04.1-Ubuntu

[2016-03-14 21:03] arjanvs opened #96 "Antivirus app disappeared from app list in owncloud 9.0"
Perhaps this is redundant with:
- https://github.com/owncloud/files_antivirus/issues/95

### Steps to reproduce
1. Install owncloud 9.0
2. Check webinterface apps

### Expected behaviour
Expected to see antivirus to link with clamav

### Actual behaviour
Nothing there, hence no virus protection

### Server configuration
GNU/linux Debian 8.0

According to documentation:
- https://doc.owncloud.org/s

[2016-03-14 21:38] VicDeo commented on #95
@LukasReschke How releases are supposed to be done now?

[2016-03-14 22:31] VicDeo commented on #96
Published
https://apps.owncloud.com/content/show.php/Antivirus?content=157439
https://github.com/owncloud/files_antivirus/releases/tag/stable9-0.8.0.1

[2016-03-14 22:50] VicDeo commented on #89
@ezraholm50 Done

[2016-03-15 00:05] carlaschroder commented on #95
Confirming-- I see this too.

[2016-03-15 02:45] ezraholm50 commented on #89
Great thanks!

Op ma 14 mrt. 2016 23:50 schreef VicDeo <notifications@github.com>:

--

Met vriendelijke groet,

E. Holm

[2016-03-15 06:35] RealRancor commented on #95
@VicDeo How to sign the app is described here: https://doc.owncloud.org/server/9.0/developer_manual/app/code_signing.html#how-to-get-your-app-signed

[2016-03-15 09:13] LukasReschke commented on #95
If the app is marked as official (which seems to be the case here) it needs to be signed.
See @RealRancor's link for information on how to sign the app.

[2016-03-15 11:34] ezraholm50 commented on #89
@VicDeo app hass no info.xml file. Activating it in the app store, problem
on my side?
Thanks

Op di 15 mrt. 2016 03:45 schreef Ezra Holm <ezraholm50@gmail.com>:

--

Met vriendelijke groet,

E. Holm

[2016-03-15 11:40] ezraholm50 commented on #89
Sorry can't edit the post on mobile, I can't test the github zip right now. Will test it later today or tomorrow, master and stable 9.0! You'll hear from me!

[2016-03-15 14:22] VicDeo commented on #89
@ezraholm50 I published by compressing as `tar.bz2` (not intentionally)
Repacked with gzip and updated once more.

[2016-03-15 14:59] carlaschroder commented on #96
Hi, I could use a little help here. How is this supposed to work? The app is updated in the app store, but my oC 9 still complains about the code integrity check failure. Also, it keeps complaining even when I disable the app. Which was never downloaded because it failed the code integrity check :)

[2016-03-15 15:08] VicDeo commented on #96
@carlaschroder and how it is related with `Antivirus app disappeared from app list in owncloud 9.0`? :)
I bet #95 is more relevant.

[2016-03-15 15:09] VicDeo commented on #96
@carlaschroder  >it keeps complaining even when I disable the app.

I suspect it to be a pure caching issue, should be filed against the core

[2016-03-15 15:11] mholttech commented on #95
I'm getting this same alert on my install

[2016-03-15 15:16] carlaschroder commented on #96
My  mistake, the integrity check is reporting .htaccess. Thanks @VicDeo

[code]

[2016-03-15 15:16] #96 closed

[2016-03-15 15:17] carlaschroder commented on #95
The AV app is reported in the app store as being updated, but I still get the integrity check error when I enable it.

[2016-03-15 15:19] RealRancor commented on #95
@mholttech @carlaschroder See the comment of @LukasReschke above. It is known that the app is not signed and that a new (signed) version needs to be released. :-)

[2016-03-15 16:32] carlaschroder commented on #95
I thought the update meant it had been signed.

[2016-03-15 18:08] arjanvs commented on #95
BTW the app is back in the app store :)

How can I check the signing?

[2016-03-15 18:12] arjanvs commented on #96
It is back, thx for fixing

[2016-03-15 18:36] ezraholm50 commented on #89
Aah great will try asap! Also getting some errors about the app code,
possibly also related to the tar file? Will investigate some more and
report back!

Op di 15 mrt. 2016 15:22 schreef VicDeo <notifications@github.com>:

--

Met vriendelijke groet,

E. Holm

[2016-03-15 18:54] RealRancor commented on #95
@arjanvs As you can read above the app needs to be signed first.

[2016-03-15 19:03] arjanvs commented on #95
I read that, but I wanted to check on my machine, if I can reproduce the initial failure. On my Debian 8.0 machine I have the app in the app store and I have it installed.

[2016-03-16 14:15] carlaschroder commented on #95
It still throws a failure on my test Ubuntu 15.10 system.
![antivirus-app-fails-check](https://cloud.githubusercontent.com/assets/8388387/13815183/ca0316f8-eb46-11e5-8112-e2f16fcc97b5.png)

[2016-03-16 21:27] karlmikaelskar commented on #95
I enabled the antivirus app and got the signature warning.

 files_antivirus
    - EXCEPTION
        - OC\IntegrityCheck\Exceptions\InvalidSignatureException
        - Signature data not found.

But after some rescans and trying to enable the app again i get this:

- core
	- INVALID_HASH
		- .htaccess

[2016-03-17 05:28] RealRancor commented on #95
@karlmikaelskar This is unrelated to this app

[2016-03-18 09:42] timscha commented on #95
Any news on this? Tried to install the App on my ownCloud yesterday, but got the same error and a signature warning. Running owncloud on Debian 8 with nginx.

[2016-03-18 09:47] RealRancor commented on #95
I don't think it makes anything faster when constantly asking or stating that this is still an issue. It just floods the mailbox of users.

[2016-03-18 11:07] LukasReschke commented on #95
@VicDeo Please send a CSR request as described at https://doc.owncloud.org/server/9.0/developer_manual/app/code_signing.html#how-to-get-your-app-signed, then sign the app and upload that build and then these problems should all be gone :see_no_evil:

This is caused because at some point the app was/is rated as Official.

[2016-03-18 20:17] ezraholm50 opened #98 "OC 9 - files_antivirus stable 9"
Hey guys, next to the integrity check the logs also show this error:

```Error while running background job (class: OC\BackgroundJob\Legacy\RegularJob, arguments: Array ( [0] => OCA\Files_Antivirus\Cron\Task [1] => run ) ): {"Exception":"OCP\\Files\\NotFoundException","Message":"File with id \"4\" has not been found.","Code":0,"Trace":"#0 \/var\/www\/owncloud\/apps\/files_antivirus\/lib\/backgroun

[2016-03-19 07:20] Happyfeet01 commented on #98
Login to phpmyadmin or with console to your database and use the sql command :
select * from oc_filecache WHERE fileid = yourid;

This will showing the missing app with the file-id.
If the file is not present in Filesystem delete the database entry.
I had the same yesterday.

[2016-03-19 13:26] ezraholm50 commented on #98
No phpmyadmin here, also no remote root connections allowed, can't reach the machine physically. Need to work around these issues to fix it. Meanwhile could you explain a bit more to me?

Thanks for your post.

[2016-03-19 15:24] vkalinsky opened #99 ""Integrity check failed" for Gallery"
Hey,

So how do we pull official apps updates from github now? Owncloud says "Signature data not found".
Is it possible to disable that check without modifying owncloud code?

Thanks!

EDIT: oh snap wrong sub sorry :-)

EDIT: Problem solved:

`config/config.php, 'integrity.check.disabled' => true`

[2016-03-19 15:50] #99 closed

[2016-03-21 14:20] VicDeo commented on #95
@LukasReschke done https://github.com/owncloud/appstore-issues/issues/54

[2016-03-21 14:56] VicDeo commented on #63
@TeZet2 is the issue resolved for you?

[2016-03-21 15:45] VicDeo commented on #95
reuploaded to appstore. file signes for 0.8.01 can be taken from https://github.com/owncloud/files_antivirus/releases/download/stable9-0.8.0.1/files_antivirus.tar.gz
`files_antivirus/appinfo/signature.json` and copied to `/pathto/owncloud/apps/files_antivirus/appinfo/signature.json`. or just reinstall the app to download signed version

[2016-03-21 15:51] carlaschroder commented on #95
yay, no more warning! Thanks @VicDeo

[2016-03-21 15:51] carlaschroder commented on #95
For 9.0.

[2016-03-22 09:35] ezraholm50 opened #101 "App code fail"
@VicDeo

Removed old version of files_antivirus (disabled first), downloaded your fresh signed version, enabled it and rescanned the appcode in OC admin panel, checker still gives the error.

Non valid list (dont know the exact translation)
Note that anti_virus is gone but error still persist.

[code]

Occ code checker:
[code]

OC Log:

[code]

I'm lost here, please shine a light on this darkness?

[2016-03-22 20:54] VicDeo commented on #101
@ezraholm50

    - INVALID_HASH
        - .htaccess

is from core
https://github.com/owncloud/core/issues/22966
https://github.com/owncloud/core/issues/22982

everything else belongs to this repo

[2016-03-22 20:56] VicDeo commented on #95
INVALID_HASH
.htaccess

owncloud/core#22966
owncloud/core#22982

[2016-03-22 20:56] #95 closed

[2016-03-22 20:59] VicDeo commented on #98
@ezraholm50 do you use external storages ot federated sharing?

[2016-03-22 21:17] VicDeo commented on #87
Addressed

[2016-03-22 21:17] #87 closed

[2016-03-22 22:20] ezraholm50 commented on #101
Thanks, hope the occ check is usefull for you. The oc log showing that error, might be worth investigating the database as someone stated before within the issues of this repo?

[2016-03-22 23:19] ezraholm50 commented on #98
I have them both enabled, both not used, federate until an hour ago. The errors where there a lot earlier.

[2016-03-25 12:30] fsbruva commented on #98
I have the same issue. However, when I access database:
`select * from oc_filecache WHERE fileid = yourid;`
I get a particular .jpg file, prefixed by /files/photos/imgxxxx.jpg. It is only by inference that I know which user it belongs to. When I look at that user's files, the file is present and 'www' user has read/write access. Additionally, 'www' has execute access for all of the 'data' director

[2016-03-25 13:10] Happyfeet01 commented on #98
Yes some files pop up. Why ever. It's really strange.

[2016-03-25 20:08] fsbruva commented on #98
A little testing shows that the problem occurs when a file resides in a different user's home than the `$anyUser` used to initialize the file system in `initFS()`. By replacing:
`\OC_Util::setupFS($anyUser->getUID());`
with
`\OC_Util::setupFS('user1id');`
The cronjob works properly for a file that resides in user1's home (home::user1) in oc_storages. Seems there is some problems with trying to use

[2016-03-28 14:00] benediktg commented on #98
I also get such messages in the log:

(Error in core)
```Error while running background job (class: OC\BackgroundJob\Legacy\RegularJob, arguments: Array ( [0] => OCA\Files_Antivirus\Cron\Task [1] => run ) ): {"Exception":"OCP\\Files\\NotFoundException","Message":"File with id \"68\" has not been found.","Code":0,"Trace":"#0 \/var\/www\/owncloud\/apps\/files_antivirus\/lib\/backgroundscanner.php(78

[2016-03-28 14:53] shorty06 commented on #98
El mar. 28, 2016 8:00 AM, "Benedikt Geißler" <notifications@github.com>
escribió:

[2016-03-28 19:35] VicDeo commented on #98
@benediktg

Addendum 2: The error message actually changes:

Error while running background job (class: OC\BackgroundJob\Legacy\RegularJob, arguments: Array ( [0] => OCA\Files_Antivirus\Cron\Task [1] => run ) ): {"Exception":"OCP\\AutoloadNotAllowedException","Message":"Autoload path not allowed:
\/var\/www\/owncloud\/apps\/files_antivirus\/lib\/cron\/task.php","Code":0,"Trace":"#0 \/var\/www\/own

[2016-03-30 12:07] felixboehm commented on #72
https://github.com/owncloud/enterprise/issues/1040#issuecomment-203395462

[2016-03-30 14:33] bboule opened #103 "Cron Stops running with 9.0.1 RC1"
Steps to reproduce

Upgrade from OC 9.0.1 Beta to OC 9.0.1 RC1
Cron stops running 3.
Expected behaviour

Cron should continue to run

Actual behaviour

When Cron.php attempts to run we see this:
PHP Fatal error: Cannot make non static method OC\BackgroundJob\Job::run() static in class OCA\Files_Antivirus\Cron\Task in /var/www/html/owncloud/apps/files_antivirus/lib/cron/task.php on line 15

Server

[2016-03-30 15:18] bboule commented on #103
@cmonteroluque @MTRichards

[2016-03-30 15:19] RealRancor commented on #103
Sorry, have missed https://github.com/owncloud/files_antivirus/pull/102 when pointing you here. Not quite sure if this is already fixed there? @VicDeo might be able to tell.

[2016-03-30 15:50] MTRichards commented on #103
@cmonteroluque Need to get this working for 9.0.1.
@VicDeo

Making it a sev 1 since we can't ship with this broken.

@felixboehm FYI

[2016-03-30 19:06] VicDeo commented on #103
@bboule does https://github.com/owncloud/files_antivirus/pull/104 help?

[2016-03-30 19:28] bboule commented on #103
That fixed it!!!!

[2016-03-30 19:39] #103 closed

[2016-04-05 09:48] cmonteroluque commented on #103
@VicDeo thanks

[2016-04-05 11:49] VicDeo commented on #103
@cmonteroluque yes, fixed a week ago

[2016-04-08 19:36] MorrisJobke commented on #98
Should be fixed by https://github.com/owncloud/core/commit/0fac2e3f3aaaeaddf431f7877ebddb6372a00a42

[2016-04-08 22:00] fsbruva commented on #98
Can we move the autoloader security issue brought up by @benediktg to its own bug? The relevant subject of this bug is the one @ezraholm50 and I have...

[2016-04-09 04:54] ezraholm50 commented on #98
After 9.0.1 upgrade still have the error. Breaks performance aswell,
activating antivirus with the errors.

Met vriendelijke groet,

E. Holm

[2016-04-18 23:44] goopen commented on #98
Did anyone find the cause of this? I'm experiencing the same issue.

Example:
`{"reqId":"xvaPtg9hCXtljWBz\/TP6","remoteAddr":"","app":"core","message":"Error while running background job (class: OC\\BackgroundJob\\Legacy\\RegularJob, arguments: Array\n(\n    [0] => OCA\\Files_Antivirus\\Cron\\Task\n    [1] => run\n)\n): {\"Exception\":\"OCP\\\\Files\\\\NotFoundException\",\"Message\":\"File with i

[2016-04-19 09:46] crysman opened #107 "cannot change to "delete" instead of "log only""
I am unable to change to "delete the file" instead of "log only" in the plugin options. Why? Any hints?

owncloud: ownCloud 8.2.3 (stable)
app: Antivirus App for files  0.8.0.1
php 5.5.30

[2016-04-19 09:48] crysman opened #108 "Buttons "Add rule" does nothing, neither does "Advanced""
I wanted to try what "add rules" does - but the button does not anything after clicking on it... any hints?

using "czech" language

owncloud: ownCloud 8.2.3 (stable)
app: Antivirus App for files 0.8.0.1
php 5.5.30

[2016-04-22 20:07] amc2002 commented on #98
Same here. I get it every time cron is run. Not using antivirus at all on our system: `Error while running background job (class: OC\BackgroundJob\Legacy\RegularJob, arguments: Array ( [0] => OCA\Files_Antivirus\Cron\Task [1] => run ) ): {"Exception":"OCP\\AutoloadNotAllowedException","Message":"Autoload path not allowed: \/var\/www\/html\/owncloud\/apps\/files_antivirus\/lib\/cron\/task.php","Cod

[2016-04-22 20:18] Lqp1 commented on #107
Hi,
I have a similar issue : I can't change any option (daemon mode, socket, port, length, ...) in the administration panel.
Maybe this is the same issue ?

infos:
ClamAV is running as daemon on a remote server, so no clamav binary installed on owncloud server.
ownCloud 9.0.1 (stable)
app: 0.8.0.1
php5-fpm  5.6.19
nginx  1.6.2

[2016-04-24 20:46] marco-aa opened #109 "Backgroundscan not working - Error Failed to setup file system in backgroundscanner.php"
Hello all :-)

i'm using OwnCloud 8.2.3 and antivirus app 0.8.0.1. on Centos 7.2 running SELinux active. (checked audit2allow - looking good )

I found "Error  files_antivirus Failed to setup file system" in my Administrator Log.

I looked at backgroundscanner.php and i found that
A)
in funciton initFS() the line $results = $this->userManager->search('', 2, 0); has no result.
userManager object is

[2016-04-24 21:06] marco-aa commented on #107
Hello Lqp1 and crysman,

maybe it's helpfull to check  appconfit table via mysql @crysman

select * from oc_appconfig where appid like '%anti%' \G
...
*************************** 4. row ***************************
appid: files_antivirus
configkey: av_infected_action
configvalue: delete

If the scanner is working - maybe you can change it in the database as a workaround ...

[2016-04-25 10:32] e-alfred opened #110 "Antivirus app prevents upload from official Owncloud Android client app > 1MiB"
### Steps to reproduce
1. Install and activate antivirus app in Owncloud
2. Upload file bigger than 1MiB using the official Android Owncloud app
### Expected behaviour

The selected file should be uploaded and scanned from the Android phone to Owncloud.
### Actual behaviour

The upload fails after some chunk is scanned by the Antivirus app/Clamav. If I disable the Antivirus app everything works fi

[2016-04-25 19:53] Lqp1 commented on #107
Hi,
Thanks for the feedback.
Here's the output:
*************************** 4. row ***************************
      appid: files_antivirus
  configkey: av_infected_action
configvalue: NULL

I've "NULL" value for several other fields... So I changed all the fields manually (set to daemon, with right port, hosts, etc...) and now it shows up with the right parameters in Owncloud Administration Panel

[2016-04-28 08:12] etchesou commented on #98
I get a similar error message after installing the file_antivirus app. Immediatly after a fresh install, with no files really added to the system.

`{"reqId":"V4opJzIPy5\/mVc7ba9NH","remoteAddr":"","app":"core","message":"Error while running background job (class: OC\\BackgroundJob\\Legacy\\RegularJob, arguments: Array\n(\n    [0] => OCA\\Files_Antivirus\\Cron\\Task\n    [1] => run\n)\n): {\"Excep

[2016-04-28 08:27] heliasanaz commented on #98
i get this message in log:
Error while running background job (class: OC\BackgroundJob\Legacy\RegularJob, arguments: Array ( [0] => OCA\Files_Antivirus\Cron\Task [1] => run ) ): {"Exception":"OCP\\AutoloadNotAllowedException","Message":"Autoload path not allowed: \/var\/www\/html\/owncloud\/apps\/files_antivirus\/lib\/cron\/task.php","Code":0,"Trace":"#0 \/var\/www\/html\/owncloud\/lib\/autoloader

[2016-04-28 08:32] etchesou commented on #98
After disabling the antivirus app, i also get the same error message as @heliasanaz above.

`{"reqId":"NhxJPHlVGBWn2Hp\/hCc0","remoteAddr":"","app":"core","message":"Error while running background job (class: OC\\BackgroundJob\\Legacy\\RegularJob, arguments: Array\n(\n    [0] => OCA\\Files_Antivirus\\Cron\\Task\n    [1] => run\n)\n): {\"Exception\":\"OCP\\\\AutoloadNotAllowedException\",\"Message\

[2016-04-28 15:04] benediktg commented on #98
@etchesou @heliasanaz The bug with the `AutoloadNotAllowedException` is already fixed my @MorrisJobke

[2016-04-28 16:21] gouglhupf commented on #98
@benediktg I think the AutoloadNotAllowedException bug and bug addressed by @etchesou (the first one), @ezraholm50 and the others are not the same. The bug that is not solved appear with the combination of the External Storage app and this app. The antivirus app probably tries to access the files, but can't because they are not stored on the server.

[2016-04-29 18:09] fsbruva commented on #98
@gouglhupf
Partially correct. True, there are two different bugs. However, you conjecture about the unsolved bug is incorrect. I do not have or use the External Storage app, and still have the problem.

The way the Antivirus app initializes it's access to  storage requires a user. Currently, the app uses the first user in the list. This user is then utilized to initialize a "view" within owncloud.

[2016-04-29 18:44] lucdg commented on #98
Same issue here ... even after disabling AV and not having external storage support enabled either.

[2016-04-29 19:45] benediktg commented on #98
The Owncloud release 9.0.2 which is coming on next Tuesday (May 3rd) will contain the fix for the `AutoloadNotAllowedException` by @MorrisJobke. Just hang on or apply this [patch](https://patch-diff.githubusercontent.com/raw/owncloud/core/pull/23901.patch). :wink:

But wasn't the `NotFoundException` original topic of this issue?

[2016-05-04 21:01] VicDeo commented on #108
@crysman Does it work with English interface?

[2016-05-05 07:22] crysman commented on #108
@VicDeo Yes, it neither works when I set the UI to English.

And more concerning is that the same problem is here https://github.com/owncloud/files_antivirus/issues/107

[2016-05-05 07:34] crysman commented on #107
Hmm, I seee... this will be a problem (from the log):
`file_exists(): open_basedir restriction in effect. File(/usr/bin/clamscan) is not within the allowed path(s):`

But, when I try to change to "Daemon" mode, it does not let me :/ - still errors like this in the log.

How to solve it correctly?

[2016-05-05 08:05] marco-aa commented on #107
Hello crysman,

who is your open_basedir set ?
I found some hints in this article https://wiki.archlinux.org/index.php/OwnCloud - it's pointing to https://github.com/owncloud/core/search?q=open_basedir&type=Issues&utf8=%E2%9C%93

Maybe you finde something there ?
p.s check via <?php phpinfo() ?> your open_basedir settings - maybe you can for a test comment it out/change it

[2016-05-05 18:01] Lqp1 commented on #107
Yep, I think you need to add /usr/bin/ to open_basedir if you want to use this mode for the plugin. If you want to use daemon mode, I think there is an issue in the plugin, and you can't change that from the menu... Just open mysql cli and update the fields manually.

[2016-05-06 01:40] tx7 commented on #98
I have the same issue too with OC9:

`Error while running background job (class: OCA\Files_Antivirus\Cron\Task, arguments: ): {"Exception":"OCP\\Files\\NotFoundException","Message":"File with id \"6\" has not been found.","Code":0,"Trace":"#0 \/media\/54bf67db-da31-4c50-bb3c-27140944b223\/www\/owncloud\/apps\/files_antivirus\/lib\/backgroundscanner.php(78): OC\\Files\\View->getPath('6')\n#1 \/medi

[2016-05-06 01:49] tx7 commented on #98
`Error	PHP	file_get_contents(/media/54bf67db-da31-4c50-bb3c-27140944b223/www/owncloud/apps/files_antivirus/appinfo/signature.json): failed to open stream: No such file or directory at /media/54bf67db-da31-4c50-bb3c-27140944b223/www/owncloud/lib/private/integritycheck/helpers/fileaccesshelper.php#38`

[2016-05-07 06:57] ChristopherShen opened #112 "How about exclude or ignore option"
I see a document [here](https://www.clamav.net/documents/how-to-speed-up-clamwin).
Could you please add exclude or ignore options, so that certain extensions could be excluded from scanning, which would reduce system overload.

[2016-05-07 07:35] RealRancor commented on #98
@tx7 This is completely unrelated.

[2016-05-09 11:40] crysman commented on #107
I've added /usr/bin to the php_admin_value[open_basedir] but I am still unable to make it work.

Although there are no more error messages in the log, it does not let me change it to "Delete file" mode. What might be wrong?

[2016-05-09 13:58] crysman commented on #107
Here is my output:
[code]

There is nothing like "av_infected_action", and consequently no NULL values, as you say.
Does it mean I should add it?

[2016-05-09 17:37] goopen commented on #109
Not sure if this is related but I get this error in my logs. This is on 9.0.2 however.

[code]

[2016-05-09 17:42] Lqp1 commented on #107
Hi @crysman
Regarding open_basedir : did you check the value of open_basedir within PHP (as @marco-aa said, maybe check that the path is effectively in open_basedir in the page showed by  <?php phpinfo() ?>) ? If not, ensure that you changed the right php config file (for me it's the one of php-fpm). If it's correct, also check that clamscan is in this directory :
`#whereis -b clamscan`
`clamscan:

[2016-05-10 08:50] crysman commented on #107
Yes, I did check it via phpinfo() and indeed, it is there. Have a look in the config:
[code]

Clamscan is, indeed, in /usr/bin:
[code]

There are no errors regarding missing clamscan or PHP basedir in the log, so that is not an issue.
I have only "Official" plugins enabled:
[code]

I've already:

1. Updated to OwnCloud 8.2.4.2
2. Switched the UI language to English
3. Tried to Disable the AV plugi

[2016-05-10 09:23] crysman commented on #107
Doesn't my owncloud PHP website need also access to /var/run/clamav/
(There is a default "Socket" option in the Antivirus Configuration containing "/var/run/clamav/clamd.ctl")

But I believe the plugin is broken somehow, because e.g. the "Add + rule" button doesn't do anything.

[2016-05-10 17:42] Lqp1 commented on #107
I think you're right, and the plugin is broken... I hope someone else will be able to help us with this issue...

The "Add + rule" button and plugin setup without direct DB access does not work neither in my setup... Maybe it's related to the fix in commit 8bea266cf14d696c363d7a844d8b12217512fae9 in PR #111 . If you really need to add more rules, you can give it a try ?

owncloud PHP user must hav

[2016-05-11 14:16] crysman commented on #107
I've just found out that the plugin kind of works. "Kind of" means:

1. the "executable" mode is enabled and obviously works, because:
  a) since the php errors are gone, server reports CPU overusage, what is something that has not ever happened yet
  b) the client refuses to upload a virus sample to the server and reports it in my local log:

2. **The UI does not let me change any option in the A

[2016-05-17 10:10] crysman commented on #107
Adding required options directly to the DB and modifying some already existing values has solved partially the problem. Partially, because:

1. It's not possible to change the options via the UI
2. It's not ready for an end-user who does NOT want to modify DB directly
3. I believe malfuctioning (useless) UI plugin's admin menu is a serious bug

[2016-05-17 12:42] Dallo71 commented on #98
OC 9.0.2-1.1

Error while running background job (class: OC\BackgroundJob\Legacy\RegularJob, arguments: Array ( [0] => OCA\Files_Antivirus\Cron\Task [1] => run ) ): {"Exception":"OCP\\Files\\NotFoundException","Message":"File with id \"76\" has not been found.","Code":0,"Trace":"#0 \/var\/www\/owncloud\/apps\/files_antivirus\/lib\/backgroundscanner.php(78): OC\\Files\\View->getPath('76')\n#1 \/var

[2016-05-17 15:38] RealRancor commented on #98
@Dallo71 No need to re-post the very same error. This issue is still open so there is no fix yet. If you want to express that you're affected you can use the "thumbs up" emoticon at the top right of the first post. This avoids that this issue get filled with comments not providing additional info.

[2016-05-17 20:45] Lqp1 commented on #107
I'm glad to hear you finally make it work. I hope this issue will find a decent fix because this is really annoying.

[2016-05-21 00:24] tx7 commented on #98
I got the same error: `Call to undefined method OCA\Files_Antivirus\Cron\Task::setId() `

[2016-05-21 06:17] RealRancor commented on #98
@tx7 different issue not related to this bugreport

[2016-05-25 00:40] tx7 commented on #98
What do you meant?
It's the anti-virus scanner error.

[2016-05-25 01:00] tzkmx commented on #98
@tx7 It's not the same error, what you are reporting is a method undefined, this issue is about OC\Files\View->getPath() that is not resolving the path indicated by the Id in the cache table.

So yes, it's not related to this, it should be better if you register a different issue.

[2016-06-06 12:35] hitam4450 commented on #110
Same problem with me...uploads always got stuck at 57 % ! After disabling the antivirus app...everything works fine!

[2016-06-13 20:40] JochenHWezel commented on #74
![image](https://cloud.githubusercontent.com/assets/14078625/16022258/3cda18b4-31b7-11e6-880b-50466faecc2e.png)
Same to me: for some reasons (maybe I moved the owncloud data dir after immediately after first setup, but then it already created some files somewhere and can't find them any more) I also get this boring file not found message every few minutes in my log

Isn't it possible to detect tha

[2016-06-26 19:19] JochenHWezel opened #114 "Antivirus can't scan file because file not found"
I get continueously following error in my owncloud log:

`Error while running background job (class: OC\BackgroundJob\Legacy\RegularJob, arguments: Array ( [0] => OCA\Files_Antivirus\Cron\Task [1] => run ) ): {"Exception":"OCP\\Files\\NotFoundException","Message":"File with id \"8\" has not been found.","Code":0,"Trace":"#0 \/var\/www\/owncloud\/apps\/files_antivirus\/lib\/backgroundscanner.php(78

[2016-06-26 19:21] JochenHWezel commented on #114
OPTIONAL/SUGGESTED: In case that some references to files exist in owncloud database, but the files in the data directory have been removed, there should be an auto-cleanup of the database to drop all those invalid file entries. This would include those file entries in the to-scan list of the antivirus module.

[2016-07-06 13:49] PVince81 commented on #109
@VicDeo is that realted to the IRC discussion of today ?

What steps/fixes are required to make this work again ?

[2016-07-06 13:57] VicDeo commented on #109
@PVince81 yes, that's it.
this hacky method https://github.com/owncloud/files_antivirus/blob/master/lib/backgroundscanner.php#L92

should be removed and replaced with something like TagBasedRetention does.

I started with it but completely switched to Updater  before achieving any positive results.

[2016-07-06 13:59] PVince81 commented on #109
@VicDeo can you link all steps and PRs here, to get an overview ?

[2016-07-06 14:01] PVince81 commented on #109
From what I understand it's already broken in 8.2 ? Setting to 8.2.7

[2016-07-06 14:07] VicDeo commented on #109
@PVince81 there is no exact steps or PRs. Just a little stash on my local machine.
In fact what I was doing is  reverse engineering of TagBasedRetention.

This is related to the fact that there is no easy way to iterate through the files of all users within a cronjob with the following limitations:
 - exclude directories
 - exclude zero-sized files (and potentially exclude very large size)
 - excl

[2016-07-06 14:23] VicDeo commented on #109
This code piece is a key
https://github.com/owncloud/workflow/blob/master/lib/Retention/TagBasedRetention.php#L202-L221

[2016-07-06 19:37] VicDeo commented on #107
I never was able to reproduce it.
Here is another take for a newly released 9.0.3

And once again:
1. Install 9.0.3
2. Enable files_antivirus (v0.8.0.2)
3. Switch whatever option above `advanced` section (Mode, Action for infected files found while scanning, etc)
4. Click `Save`

Everything is saved

Rules in `advanced` section are broken indeed. Everyone are welcome to test https://github.com/own

[2016-07-08 07:31] SergioBertolinSG opened #115 "Change icon for saving rules."
Current icon is misleading. √ Feels like a checkbox, not as a save button. I suggest to use a different icon or just the string Save.

![screen shot 2016-07-08 at 09 08 37](https://cloud.githubusercontent.com/assets/9048796/16680428/a4f05c70-44ee-11e6-9b83-0797ef1439ef.png)

[2016-07-08 08:26] Dubi01 opened #116 "Function "delete Files" not work"
Hello
when I activate the funktion "delete Files" then I get the following Error Message in my Log and the file is not deleted.
When im logged in into the Database and search for the File with ID 209, it gives me out a folder who exist.
Does anyone have an Idea?
Thanks :)

Debian 7 x64
MySQL 5.5
PHP 5.6
Apache 2.4.10

Exception: {"Exception":"OCP\\Files\\NotFoundException","Message":"File with id

[2016-07-11 15:01] physicalit commented on #98
I thing i have the same error:

`Error while running background job (class: OCA\Files_Antivirus\Cron\Task, arguments: ): {"Exception":"OCP\\Files\\NotFoundException","Message":"File with id \"22\" has not been found.","Code":0,"Trace":"#0 \/var\/www\/html\/owncloud\/apps\/files_antivirus\/lib\/backgroundscanner.php(78): OC\\Files\\View->getPath('22')\n#1 \/var\/www\/html\/owncloud\/apps\/files_ant

[2016-07-12 09:06] PVince81 commented on #109
@VicDeo can you make a WIP PR out of the stash ?

[2016-07-12 22:18] VicDeo commented on #109
@PVince81 Here you are

[2016-07-12 22:21] VicDeo commented on #116
@Dubi01 this is a known issue
It is already tracked in  https://github.com/owncloud/files_antivirus/issues/109
Closing as a duplicate

[2016-07-12 22:21] #116 closed

[2016-07-13 07:17] PVince81 commented on #109
@VicDeo thanks!

[2016-07-19 12:53] RealRancor opened #119 "Remove files_antivirus from apps.owncloud.com for oC9+"
As files_antivirus is now shipped in oC9 the version for oC9 should be removed from:

https://apps.owncloud.com/content/show.php/Antivirus?content=157439

[2016-07-24 13:30] Lqp1 commented on #107
I just upgraded to OC 9.0.4, with files_antivirus v0.8.0.2 (I manually downloaded Tag 9.04).
After that I disabled then re-enabled the application (just in case). When I go in the administration Panel I change the port or the action to perform when a Virus in found then I click "save" and a green text appear telling me it's OK.
If I go back to administration panel (refresh or log out/in) the setti

[2016-07-25 21:28] bjoernv opened #120 "Incorrect quoting of file size in anti-virus scanner app"
### Steps to reproduce
1. Use Owncloud 9.1
2. Activate and configure files_antivirus app
3. see logfile data/owncloud.log

### Expected behaviour
No error message, working anti-virus scan

### Actual behaviour
The file size 0 bytes is incorrectly quoted in
```SELECT fc.`fileid` FROM `oc_filecache` fc LEFT JOIN `oc_files_antivirus` fa ON fa.`fileid` = fc.`fileid` INNER JOIN `oc_storages` ss ON (fc.

[2016-07-26 13:34] fcturner commented on #120
I have this error too, trying to fix it.

[2016-07-26 14:07] DeepDiver1975 commented on #119
done

[2016-07-26 14:07] #119 closed

[2016-07-26 15:06] bjoernv commented on #120
The pull request #121 works for me.

[2016-07-27 18:05] fcturner commented on #120
No it doesn't: `OCAFiles_AntivirusBackgroundScanner::run, exception: Only strings, Literals and Parameters are allowed`

[2016-07-29 10:25] fcturner commented on #120
Fixed now, please check my solution again @bjoernv :
https://github.com/owncloud/files_antivirus/pull/121/files

[2016-07-31 10:57] bjoernv commented on #120
@fcturner, I get these messages from Backgroundscanner after applying your lastest fix:
[code]

[2016-08-01 14:31] #120 closed

[2016-08-03 08:08] alphamat opened #124 "fwrite(): send of 1028 bytes failed with errno=32 Broken pipe at ...."
I use cloud server 9 with debian 8 & php 7, apache 2.4, antivirus app daemon socket - also in use latest branche from here - i have in log a lot of this error messages:

`fwrite(): send of 4 bytes failed with errno=32 Broken pipe at /var/www/virtual/htdocs/apps/files_antivirus/lib/scanner/external.php#51

fwrite(): send of 931 bytes failed with errno=32 Broken pipe at /var/www/virtual/htdocs/apps/

[2016-08-14 08:47] ms270169 opened #125 "Antivirus data stream problem fills log file"
In _OCA\Files_Antivirus\Scanner.initScanner()_ the nINSTREAM method is prepared to scan for a virus. In the clamav config file (_/etc/clamav/clamd.conf_) you can configure the maximum stream size with the line _StreamMaxLength 4095M_
With the value 4095M the maximum value of 4GiB is used, a bigger value is not supported by clamav.

Now in the function [OCA\Files_Antivirus\Scanner.scan(IScannable $

[2016-08-15 16:53] lahmizzar commented on #114
+1

[2016-08-24 15:40] dercorn commented on #98
@DeepDiver1975 please attend to this issue

[2016-08-24 15:55] RealRancor commented on #98
@dercorn It seems @VicDeo already had a look: https://github.com/owncloud/files_antivirus/pull/118

Ref: https://github.com/owncloud/core/issues/25759#issuecomment-240076277

[2016-08-25 10:41] dercorn commented on #98
@DeepDiver1975 @butonic @mrow4a check https://github.com/owncloud/core/pull/25878

[2016-08-25 10:46] cdamken commented on #98
@DeepDiver1975 @butonic @mrow4aThis is one of the back-ground jobs that has to be fix too

[2016-08-26 07:23] VicDeo commented on #98
Addressed in
- https://github.com/owncloud/files_antivirus/pull/128 (9.0.x)
- https://github.com/owncloud/files_antivirus/pull/127 (9.1.x)
- #118 master

[2016-08-30 12:46] felixboehm commented on #98
@butonic please review

[2016-09-16 16:45] FireUponSky opened #129 ""Log only" acts just the same as "Delete""
Hi,

I installed files_antivirus today mostly successfully, however I find that the option "Log only" is not working . With option "Log only", file gets blocked with a message "Virus Eicar-Test-Signature is detected in the file. Upload cannot be completed." so does option "Delete".

Shouldn't they act differently? I expect that "Log only" gives a warning message, a log info and maybe a confirm but

[2016-09-17 18:59] #64 closed

[2016-09-17 18:59] #61 closed

[2016-09-21 08:00] PVince81 commented on #109
Waiting for the backport https://github.com/owncloud/files_antivirus/pull/128 to be merged before closing

[2016-09-21 08:00] PVince81 commented on #109
@VicDeo by the way, does this need backport to 8.2 ?

[2016-09-23 12:55] sidey79 commented on #125
I've looket into this and found, that there can be a problem with async scans and background scans.

I've not understood all that wrapper things in owncloud, but i see, that the error is caused by fwrite.
The return code of fwrite is not checked, so fwrite is called for every chunk and it seems that it's not checked if fwrite has written all that data to the socket.

I've did a small quick and dir

[2016-09-26 10:15] #57 closed

[2016-09-26 10:15] #88 closed

[2016-09-26 13:19] Bliepo2 commented on #124
To me this seems to be a bug. I have the exact same issue on my ownCloud, with ownCloud server 9.1, Debian Jessie. I also found similair reports at https://www.bountysource.com/issues/36929179-antivirus-data-stream-problem-fills-log-file.

[2016-09-27 15:55] romiro-spb opened #130 "ClamAV app cannot be enabled after upgrade from 9.1.0 to 9.1.1 version of the ownCloud"
An exception occurred while executing 'CREATE TABLE `oc_files_antivirus` (`fileid` INT UNSIGNED NOT NULL, `check_time` INT UNSIGNED DEFAULT 0 NOT NULL, PRIMARY KEY(`fileid`)) DEFAULT CHARACTER SET utf8 COLLATE utf8_bin ENGINE = InnoDB': SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'oc_files_antivirus' already exists

[2016-09-28 22:05] Basseuph commented on #124
We face the same issue since the last update of owncloud and now deactivated virus scanning, which definitely is not the nice way of handling this. We run owncloud 9.1 (9.1.1-1.1 from owncloud repo) on Debian Jessie 8.6.

[2016-09-29 18:48] e-alfred commented on #124
Maybe related to this one?

https://github.com/owncloud/files_antivirus/issues/110

[2016-09-30 12:47] Bliepo2 commented on #124
No, I don't think they are related. The only error I have is this one:
"Error 	PHP 	fwrite(): send of 4 bytes failed with errno=32 Broken pipe at /var/www/owncloud/apps/files_antivirus/lib/scanner/external.php#51 	2016-09-29T22:15:04+00:00
Error	PHP	fwrite(): send of 4 bytes failed with errno=32 Broken pipe at /var/www/owncloud/apps/files_antivirus/lib/scanner/external.php#51	2016-09-29T07:30:03+0

[2016-10-04 19:18] sidey79 commented on #124
Broken pipe at  means that clamav closed the socket. This occures alway, when maxstreamlength is reached.

The antivirus app is currently not checking the return code of the function fwrite, so it doesn't recognice, that the socket was closed.

[2016-10-06 10:32] #63 closed

[2016-10-06 10:32] #101 closed

[2016-10-10 22:01] VicDeo commented on #98
@ezraholm50 @benediktg @physicalit  if you are still on 9.0.x do you want to test https://github.com/owncloud/files_antivirus/pull/128 ?

[2016-10-11 03:08] ezraholm50 commented on #98
NC 10 sorry! But wasn't it kind of the same or 9.1 = 10?

Op di 11 okt. 2016 00:01 schreef VicDeo <notifications@github.com>:

--

Met vriendelijke groet,

E. Holm

[2016-10-11 12:05] cdamken commented on #98
@VicDeo I will test it and reopen the issue if still happens.

Sorry, wrong repository!

[2016-10-11 12:05] #98 closed

[2016-10-11 15:25] DeepDiver1975 commented on #125
@VicDeo please have a look -THX

[2016-10-11 15:41] #112 closed

[2016-10-11 15:41] #108 closed

[2016-10-13 10:06] michag86 opened #132 "Log infected files on upload"
If a user trys to upload an infected file, this is not logged.
With a newer version notification to the user is added. But as admin, it's not easy to check which user and which file is affected.

I've tested this on ownCloud 8.2 with files_antivirus 0.8.0.1. This is not the latest version, but newer are also affected.

Maybe it's possible to add a log entry here:
https://github.com/owncloud/files_

[2016-10-17 10:45] Koblenz commented on #124
I have the same Problem after Updating to the latest OC Release (Debian 8.1).

These error filled my log file massiv in the past week to 20GB. Disabled the app before my partition runs out of space.

[2016-10-17 14:03] VicDeo commented on #114
Fixed with
Stable9 https://github.com/owncloud/files_antivirus/pull/128
Stable9.1 https://github.com/owncloud/files_antivirus/pull/127
master https://github.com/owncloud/files_antivirus/pull/118

[2016-10-17 14:03] #114 closed

[2016-10-21 10:53] felixboehm commented on #125
@VicDeo could you understand the issue details? How can we solve this?

[2016-10-21 11:03] VicDeo commented on #125
@felixboehm yes. Can be solved by introducing the config setting identical to ClamAv `StreamMaxLength`  to prevent large file scanning (like most of sync-n-share solutions do)

[2016-10-21 11:27] ms270169 commented on #125
A config value can not be a "solution" for any situation, as long as it is possible that some files have more than 4GiB (see issue decription on top). A solution could be to use streaming as long as the file size does not exceed the ClamAv StreamMaxLength value, and to skip virus check otherwise or to use a different method (SCAN command, ...).

[2016-10-21 11:44] VicDeo commented on #125
@ms270169 why not?
1. Config option `Do not scan files larger than...`
2. Track amount of bytes passed to ClamAv
3. Consider closing a socket when this amount exceeds the option value to be normal and do not log anything in this case
4. Closing a socket when this amount do  not exceed the option value - log as before with a notice `check if the scanner option matches StreamMaxLength`
5. Adjust bac

[2016-10-21 14:28] sidey79 commented on #125
What is with a option to open a new socket, if fwrite returns an error / steamsize Limit ist reached?

With this option it is possible to scan almost every size of files.

[2016-10-21 22:20] VicDeo commented on #125
@sidey79 it makes the result unreliable. What if a virus signature will be split between these two chunks?

[2016-10-22 07:38] sidey79 commented on #125
@VicDeo i agree, but two things to note:

To not scan the entire file has a higher risk.
Even if there is a virus between the chunks it would be possible to scan some part from the previous chunk again. This is some overhead but could be specified with a config value like chunkRescanSize = xx KB

Otherwise, is there an option to scan those big files with a background process completly?

[2016-10-23 08:47] ms270169 commented on #125
@VicDeo your suggestion would solve the logging problem, but left the risk that infection of big files is not detected. Why not using alternatives if file size is too big.
For example: The man page of clamd [https://linux.die.net/man/8/clamd](https://linux.die.net/man/8/clamd) offers the SCAN command.

I tested this SCAN command with `netcat -U /var/run/clamav/clamd.ctl` for a 5GiB file (filled wi

[2016-10-23 09:01] sidey79 commented on #125
@ms270169 What die you Test with netcat?
I think you must specify the file on the file System which should be scanned.
There is also a config option for max scan size.
https://linux.die.net/man/5/clamd.conf

Not sure if this can be set to any size.

[2016-10-23 14:44] ms270169 commented on #125
@sidey79 You are right, I have overseen these parameters.
I have now set `MaxScanSize 10000M` and `MaxFileSize 10000M` in the file **/etc/clamav/clamd.conf**. After restarting the daemon, I connect with `netcat -U /var/run/clamav/clamd.ctl` and execute the command `SCAN /tmp/testfile`. The file **/tmp/testfile** is a 5GiB random byte file.
After entering the command I get immediately the message `

[2016-10-23 22:35] VicDeo commented on #125
I think this is worth reading http://www.gossamer-threads.com/lists/clamav/users/67033#67033

[2016-10-24 05:27] sidey79 commented on #125
There are serval PHP Implementation for clamav.
They support the SCAN command which can be adjusted in size.

One option is also a php module:
http://php-clamav.sourceforge.net

[2016-10-24 10:13] sidey79 commented on #125
@ms270169
I found the following in the clamd.conf man Page:

Notes

All options expressing a size are limited to max 4GB. Values in excess will be resetted to the maximum.

So ist seems that there is no option available to scan a file >4GB one part.

[2016-11-03 20:21] VicDeo commented on #124
any volunteers to test https://github.com/owncloud/files_antivirus/pull/133?

[2016-11-03 20:25] VicDeo commented on #74
should be fixed with https://github.com/owncloud/files_antivirus/pull/118

[2016-11-03 20:25] #74 closed

[2016-11-04 16:45] VicDeo commented on #125
@sidey79 @ms270169 would you like to test https://github.com/owncloud/files_antivirus/issues/133?

[2016-11-05 16:36] ms270169 commented on #125
@VicDeo I have now tested [#133](https://github.com/owncloud/files_antivirus/pull/133).
In principle it works, but there are some things which should be improved in my point of view:

**1) config value AvMaxFileSize**
at the moment there is one config parameter *AvMaxFileSize* which is used (at least) two times. One usage is in [lib/backgroundscanner.php#L100](https://github.com/owncloud/files_ant

[2016-11-08 08:58] PVince81 commented on #109
@VicDeo ping

[2016-11-08 14:07] sidey79 commented on #125
With wath oc version can this version tested?
I've found the following in the branch:

`<owncloud min-version="9.2" max-version="9.2" />`

But i have no owncloud 9.2 installation.

[2016-11-08 15:02] VicDeo commented on #109
@PVince81 well,  it was 100% reproducible with 9.0/9.1 but it works for me with 8.2.8:
[code]

It is possible to backport nevertheless.

[2016-11-08 15:47] michag86 commented on #129
I think the file will be blocked always on upload, if it's infected.
The option is only used for the background scanner.

[2016-11-08 17:02] Querschlag commented on #109
Is somebody working on the backport?
I have this issue with Nextcloud 10.0.1 and the BackgroundScanner keeps spaming the log with these entries:
`
Error	files_antivirus	OCA\Files_Antivirus\BackgroundScanner::run, exception: Can not decrypt this file, probably this is a shared file. Please ask the file owner to reshare the file with you.
Error	no app in context	Can not decrypt this file, probably t

[2016-11-08 17:08] VicDeo commented on #109
@PVince81 not backportable to 8.2 :(
`Call to undefined method OC\Files\Config\MountProviderCollection::getMountCache()`

[2016-11-08 17:30] Querschlag opened #136 "BackgroundScanner not working with Nextcloud 10.0.1"
The BackgroundScanner keeps spaming the log with these entries:
`Error	files_antivirus	OCA\Files_Antivirus\BackgroundScanner::run, exception: Can not decrypt this file, probably this is a shared file. Please ask the file owner to reshare the file with you.
Error	no app in context	Can not decrypt this file, probably this is a shared file. Please ask the file owner to reshare the file with you.
`
En

[2016-11-08 17:59] VicDeo commented on #129
@FireUponSky @michag86 exactly. This option affects cron job only.
Infected files are always deleted on upload.

[2016-11-08 18:02] VicDeo commented on #125
@sidey79 I guess nobody has 9.2 atm (but Chuck Norris does)
What's your OC version?

[2016-11-08 18:10] sidey79 commented on #125
Wenn have 8.2 in Produktion und i have a 9.0 for some testing purpose.

VicDeo <notifications@github.com> schrieb am 08.11.2016:

-- Diese Nachricht wurde mit K-@ Mail gesendet.

[2016-11-08 19:46] VicDeo commented on #130
@romiro-spb
please post result for the following SQL query: `select * from oc_appconfig where appid='files_antivirus' and configkey='installed_version'`

[2016-11-09 15:40] VicDeo commented on #125
@sidey79 yes, the PR above is not applicable to both.
When it is merged I prepare a backport.

[2016-11-09 17:29] VicDeo commented on #125
@ms270169
1) config value AvMaxFileSize
TBD

2) logging
"call of fwrite() in line 120"
native PHP logging suppressed

3) call of fwrite() not checked
"It would be better to return to line 120 after reinitialization."
it's a potential infinite loop.

4) block overlapping
Technically possible. But I don't like the idea.
Stream wrapper is a sort of callback that is called on file IO operation.
The im

[2016-11-09 18:47] romiro-spb commented on #130
mysql> select * from oc_appconfig where appid='files_antivirus' and configkey='installed_version';
Empty set (0.00 sec)
mysql> select * from oc_files_antivirus;
Empty set (0.00 sec)
mysql> show create table oc_files_antivirus;
CREATE TABLE `oc_files_antivirus` (
  `fileid` int(10) unsigned NOT NULL,
  `check_time` int(10) unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`fileid`)
) ENGINE=InnoDB DEFA

[2016-11-09 22:02] VicDeo commented on #125
@ms270169 https://github.com/owncloud/files_antivirus/pull/133 updated according to your suggestions

[2016-11-09 22:58] VicDeo commented on #130
@romiro-spb just as I thought. Tables exist, but there is no info about installed app version in `oc_appconfig`.
You can just drop tables `oc_files_antivirus` and `oc_files_avir_status` (if any)
and reenable the app.

[2016-11-10 06:50] ms270169 commented on #125
@VicDeo, great, works as desired. Test has shown that large files over config parameter *File size limit* are ignored, all other files are scanned. If stream size reaches config parameter *Stream Length* the scanner is reinitialized. Every file scanned without problem (also files above the clamav.config *StreamMaxLength* limit), no log entries visible (if log level is not debug).

I have seen, tha

[2016-11-10 14:41] VicDeo commented on #125
@ms270169 thanks for your in-depth analysis. Updated once again.

[2016-11-10 14:58] PVince81 opened #137 "BackgroundScanner not scanning on md5'd homes"
I saw that the code filters by 'home::%' storages, this will miss the crappy md5 storage entries as per https://github.com/owncloud/core/wiki/Storage-IDs#random-numberstring

The old workaround was to iterate over all users, but it's expensive.

Since OC 9.0 we have the oc_mounts table which is a cache of known mount points, including the user's homes. This should be used to identify the user's ho

[2016-11-10 16:12] VicDeo commented on #137
ss.id LIKE 'home::%' OR ss.id NOT LIKE '%::%'
INNER JOIN oc_mounts AS mnt ON mnt.storage_id = ss.numeric_id AND mnt.mount_point = CONCAT('/', mnt.user_id , '/')

:cactus:

[2016-11-10 16:29] VicDeo commented on #137
In addition oc_mounts has an info about the owner.
Replacing  `BackgroundScanner::getOwner` with
[code]
 can save some CPU cycles  :green_heart:

[2016-11-10 17:19] PVince81 commented on #137
(let's use emojis as ids to refer to comments :wink:)

No need for the "LIKE" on the storages table.
If you only need the storage numeric id then you don't even need to add the oc_storages table.

`select storage_id from oc_mounts where mnt.mount_point = CONCAT('/', mnt.user_id , '/')`.

Then with the storage_id you can join with oc_filecache on the "storage" column.

[2016-11-10 17:20] PVince81 commented on #137
In normal setups it is not possible to mount anything else than a home on "/$userId/".
One might be able to hack ownCloud to mount an ext storage there, but then it is also ok to scan that one as the home, if that would ever happen...

[2016-11-10 17:42] PVince81 commented on #109
Maybe the error reported here is due to something else since it works for you in the same env.

[2016-11-10 19:36] VicDeo commented on #137
@PVince81 this is nearly impossible with the current quotation:
[code]

Concatenation operation is escaped in a manner that everything till the very end of string is considered to be a filed name here:
[code]
No wonder, there is no field with the name:
[code]

[2016-11-10 21:00] VicDeo commented on #137
Not a clean solution, but works:
[code]

[2016-11-11 04:58] ms270169 commented on #125
@VicDeo, works fine with overlapping in case of reinitialization. I have seen, that you have removed the call of *ShutdownScanner()* in function *retry()* ([scanner.php#L165](https://github.com/owncloud/files_antivirus/blob/106c285c4c82d86f04d111f81b210ec6240f3643/lib/scanner.php#L165)). Is this correct? Because now you will not end with 'N' ([external.php#L44](https://github.com/owncloud/files_an

[2016-11-11 08:30] PVince81 commented on #137
How about `CONCAT('/', mnt.user_id, '/')` ? Or does it not work with all databases ?

[2016-11-11 08:32] VicDeo commented on #137
@PVince81 it will be escaped as
[code]

[2016-11-11 08:33] VicDeo commented on #137
@PVince81 `||` is a standard for all DB platforms except MySql
https://evertpot.com/writing-sql-for-postgres-mysql-sqlite/

[2016-11-11 08:34] PVince81 commented on #137
but it's supposed to be:
[code]

What code is escaping this ? Are you using our query builder ? If yes you might want to try using `createFunction()` to avoid crazy escaping.

See here for an example: https://github.com/owncloud/core/pull/26562/files#diff-dd95fcdd436670a1f50782631d011d4cR103

[2016-11-11 08:36] VicDeo commented on #137
@PVince81 yes, it goes from OC wrapper for query builder

[2016-11-11 14:41] ms270169 commented on #125
@VicDeo. I have finished my tests with the following setup:

* testfile: 40000 bytes length, 68 byte EICAR virus signature on position 21000-21067 (would only be detected if block overlapping works)
* config-value *Chunk Size*: 8192 (same value as hard coded in [helper.php#L291](https://github.com/owncloud/core/blob/7fc4642af25bc90781ee28e294511b75f6e0fbe6/lib/private/legacy/helper.php#L291]))
* c

[2016-11-11 15:41] VicDeo commented on #125
@ms270169

This code mimics  [ an old PHP bug](http://php.net/manual/en/function.stream-wrapper-register.php#74765), but the chunk size may vary

[2016-11-15 15:14] VicDeo commented on #125
@ms270169 I updated PR once again. Could you please it another try and review it dirrectly in PR?

[2016-11-16 04:53] ManfredSteiner commented on #125
Conversation now changed to [https://github.com/owncloud/files_antivirus/pull/133](https://github.com/owncloud/files_antivirus/pull/133). (Hopefully the right one PR)

[2016-11-16 04:59] ms270169 commented on #125
Conversation for test of fixes now changed to [#133](https://github.com/owncloud/files_antivirus/pull/133#issuecomment-260854367). (Hopefully the right one PR)

[2016-11-16 09:23] RealRancor commented on #136
@Querschlag The nextcloud repository for this app is available at https://github.com/nextcloud/files_antivirus

[2016-11-21 17:44] #124 closed

[2016-11-22 21:14] VicDeo commented on #136
Closing due to wrong repo.

[2016-11-22 21:14] #136 closed

[2016-11-22 21:35] VicDeo commented on #132
@michag86 thanks, pushed as  https://github.com/owncloud/files_antivirus/issues/141
I prefer to keep current log format, so log file would be easier to grep. IIRC  easy grepping was requested by users a while ago.

[2016-11-25 20:31] #137 closed

[2016-11-28 20:21] VicDeo commented on #107
@Lqp1 is it still reproducible with more recent versions?

[2016-11-28 20:56] VicDeo commented on #110
@e-alfred is it still reproducible with newer versions?

[2016-11-29 08:03] VicDeo commented on #132
Added https://github.com/owncloud/files_antivirus/pull/141

[2016-11-29 08:03] #132 closed

[2016-11-30 11:01] PVince81 commented on #72
Any update ? Is this still something we want soon or backlog ?

[2016-11-30 21:12] Lqp1 commented on #107
@VicDeo I downloaded tag version v9.0.7RC1 (it shows v0.8.1.0 in OC) for my 9.0.4 owncloud and uncompressed the new archive in the "apps" folder. I reproduced the same issue as in my previous post. So if I want to change some parameters, I need to connect to my database directly.

Maybe should I try a 9.1.X owncloud version ?
Maybe some log may help ? When I click on `save` nginx returns HTTP 200,

[2016-12-06 16:49] PVince81 commented on #109
Ok then, I suggest closing then.

The issue I think was critical is if the background scanner can **never** run due to API changes.
But these API changes were made in OC 9.0 and 9.1 and the fixes were made accordingly.

@marco-aa please try upgrading to OC 9.0 and reopen if the issue still persists.

[2016-12-06 16:49] #109 closed

[2016-12-09 21:30] crysman commented on #108
We've just upgraded to OC 9.1.2 (stable), issue still persists.
PHP 5.6.27
Apache/2.4.10

[2016-12-09 21:30] crysman commented on #107
We've just upgraded to OC 9.1.2 (stable), issue still persists.
PHP 5.6.27
Apache/2.4.10

[2016-12-15 15:38] settermjd commented on #72
Good question, where's this at? I've had a request from @felixboehm and @dercorn to add a section on virus scanners to the documentation. It'd be great to add a comprehensive section, detailing everything that is known and working.

[2016-12-16 09:20] #129 closed

[2016-12-23 09:40] PVince81 commented on #125
PR was merged, closing

[2016-12-23 09:40] #125 closed

[2016-12-27 09:55] BornToBeRoot opened #146 "README.md fails code integrity check"
This happens after upgrading from 8.2.9 to 9.0.7 to 9.1.3

Seems like there is a hash missing

[code]

[2016-12-27 18:03] drelich commented on #130
Running into a similar issue after a fresh/clean install of OC 9.1.3 on Debian 8. At first I got:

I removed the table. When I tried to enable the antivirus app again, it throws a different error:

Any suggestions?

[2017-01-02 10:27] crysman opened #147 "When antivirus plugin deletes a file, owncloud core is not aware of that and issues emerge"
Problem: We have got issues with antivirus plugin - when antivirus plugin deletes a file, owncloud core is not aware of that and client synchronization starts to fail. **Affected client is not fully synchronized any more** until the file is manually deleted in web OC GUI.

The problem is that that file should not be there in the first place, because it had been deleted by the antivirus.

Expected

[2017-01-07 13:34] settermjd commented on #72
At this point, I've added a section to the documentation in 87b1c41bab72aca which mentions the core criteria for working with a virus scanner. However, given the incompleteness of the information available to hand, I've not specifically included any virus scanners, other than ClamAV.

[2017-01-27 18:04] ryno83 commented on #146
I deleted the files and the problem was resolved

[2017-01-30 09:23] DeepDiver1975 commented on #146
looks like a packaging issue @VicDeo

[2017-02-02 10:06] BornToBeRoot commented on #146
@ryno83 I deleted it too, but it should not be there after an upgrade from the repos.

[2017-02-02 21:10] Bobselp opened #150 "App does not work with home encryption enabled"
Hello all,

when enabling encryption of the local storage ("home storage"), antivirus doesn't work anymore. From what I understood the files are encrypted using the users password - and without the password there is no way the file could be decrypted for scanning.

Maybe this should be noted somewhere. Not only so Admins know that enabling this module with home storage encryption enabled is pointl

[2017-02-03 18:49] PVince81 commented on #146
@VicDeo any update ? Could you reproduce this and confirm this is fixed ?

[2017-02-03 22:51] VicDeo commented on #146
@PVince81
I haven't found `README.md` in zip packages for 8.2.x (checked 8.2.8/8.2.9/8.2.10) and 9.0.x (checked 9.0.4/9.0.5)

[2017-03-10 07:23] Mysterycz opened #152 "Antivirus slows down rapidly upload"
Hello guys,

I noticed when I turn antivirus on, it slows down all uploads. For example when I upload > 1GB file via web interface, app is showing 0 sec and waiting there for another 3-5 mins ... Worse scenario is upload via mobile app ->

I was uploading some big files (1 GB) WITHOUT antivirus on 100/100 Mbit and it takes like 1-2 minutes. When I turn antivirus ON, it takes 40 minutes to upload o

[2017-03-10 07:45] VicDeo commented on #152
@Mysterycz
Most likely you hit https://github.com/owncloud/files_antivirus/issues/125
Check if your owncloud.log has a huge number of entries produced by the files_antivirus app

[2017-03-10 20:35] scorpaanon commented on #146
From what I see is a string/Hash missing

[2017-03-10 20:36] scorpaanon commented on #150
I'll look in to it and get back to you

[2017-03-10 20:39] scorpaanon commented on #152
Thats also because the antivirus is scanning the file as you upload its one of the ways that the program works :)

[2017-03-10 20:42] scorpaanon commented on #147
Odd.

[2017-03-10 20:45] scorpaanon commented on #72
A good idea is to have the scanner work from start up incase recovery options are compromised.

[2017-03-10 21:16] scorpaanon commented on #147
when you remove a file it still saves a "copy" Please correct me if I am wrong.

[2017-03-13 14:46] Mysterycz commented on #152
@VicDeo I can see many messages in log file like:

... "files_antivirus","message":"OCA\\Files_Antivirus\\BackgroundScanner::run, exception: Can not decrypt this file, probably this is a shared file. Please ask the file owner to reshare the file with you.","level":3,"time":"2017-02-28T10:21:51+00:00","method":"GET","url":"\/cron.php" ...
... "app":"no app in context","message":"Exception: {\"Excep

[2017-03-13 14:51] VicDeo commented on #152
@Mysterycz these messages are not related to upload. They come from background job and encryption app.
Check how many entries like this one in your log:
[code]

[2017-03-14 07:31] Mysterycz commented on #152
@VicDeo I double checked my log and there is not any entry like this one. Only encryption errors.

[2017-03-16 20:07] scorpaanon commented on #152
Your file probably has a incorrect hash value. Thats whats giving you the error

[2017-03-17 09:15] Mysterycz commented on #152
Can you try to turn antivirus on and upload some big file (1GB+) via Android app to see how long does it take? Then turn antivirus off and check upload time again? To see if this slow upload is only on my OC instance.

[2017-03-20 19:20] scorpaanon commented on #152
@Mysterycz  2hours on my phone

[2017-03-20 19:20] scorpaanon commented on #152
and thats if i accidentally hit #125

[2017-03-21 15:34] VicDeo commented on #146
@BornToBeRoot @ryno83 how did you upgrade?

[2017-03-21 15:37] BornToBeRoot commented on #146
With the repos you provide for CentOS 7

On Tue, Mar 21, 2017, 16:35 VicDeo <notifications@github.com> wrote:

[2017-04-05 08:45] IMRcom commented on #107
Issue still persists with oC 9.1.4, files_antivirus 0.9.0.0, PHP 5.6.30.

[2017-04-13 12:30] PVince81 commented on #146
@VicDeo what's the next step ?

[2017-04-13 14:16] VicDeo commented on #146
@PVince81 IDK, there is no such file in packages.
Maybe it sneaked from prehistoric versions.

[2017-04-25 08:30] rapITler commented on #150
Hi,

it seems that I have the same issue which also flooding our logfile.

[code]

We also using Encryption and AV. When we upload a test virus the antivirus identifies it successfully. I am not familiar with the process but it seems to me that a background scan afterwards have an issue with the encrypted files.

Can we configure the AV to only scan files while they get uploaded?

Regards

[2017-05-03 13:25] andrewjones216 commented on #150
+1 to this, I'm using Encryption at the moment and want to also use AV. I'm hoping that the AV scans files uploaded before it encrypts the file at rest.
Our only other option would be to disable encryption, as making sure viruses can't be propagated through our OwnCloud instance is more important!

[2017-05-29 13:42] PVince81 commented on #146
but many people seems to be having it. any quick workaround ?

[2017-05-29 13:51] BornToBeRoot commented on #146
@PVince81 this is the workaround `rm README.md -f`

[2017-05-29 14:07] PVince81 commented on #146
if the problem doesn't appear in recent versions then it's probably not worth investing dev time to add code to work this around, closing

[2017-05-29 14:07] #146 closed

[2017-06-16 19:34] bcutter opened #158 "BackgroundScanner-Error: SQLSTATE[42S22]: Column not found (on almost every cron run)"
Hi,

since enabling the files_antivirus app and switching from mode "executable" to "Daemon (Socket)" I see the following error on almost every cron run (15 minutes):

```Error	files_antivirus	OCA\Files_Antivirus\BackgroundScanner::run, exception: An exception occurred while executing 'SELECT fc.`fileid, mnt.user_id` FROM `oc_filecache` fc LEFT JOIN `oc_files_antivirus` fa ON fa.`fileid` = fc.`fil

[2017-06-18 13:14] bcutter commented on #158
Alright, thanks so far for the good support, especially the fast response time here.

I really don´t know what this SQL statement is used for, but it seems like the mistake is coming down to only TWO MISSING "`":

IS:
```SELECT fc.`fileid, mnt.user_id` FROM `oc_filecache` fc LEFT JOIN `oc_files_antivirus` fa ON fa.`fileid` = fc.`fileid` INNER JOIN `oc_mounts` mnt ON (fc.`storage` = mnt.`storage_id

[2017-06-18 13:26] bcutter commented on #158
Got it. Line 123 of /owncloud/apps/files_antivirus/lib/backgroundscanner.php.

Before:
```                $qb->select(['fc.fileid, mnt.user_id'])```

After:
```                $qb->select(['fc.fileid', 'mnt.user_id'])```

So... thanks for nothing, fixed it by myself. Would be great if someone would implement this fix in the next release (I´m just a technical user and no developer, so no idea how t

[2017-06-19 09:36] crysman commented on #107
Any chance to get this fixed?
After one whole year and 2 months, I am still unable to change settings for this plugin in the UI. Any changes are not being saved.
I cannot believe we are just 3 users here actually trying to use this plugin, since I consider it quite essential (for security reasons of course)

[2017-06-27 13:21] butonic opened #160 "Do a marketplace release"
QA
- [ ] create testplan and test cases
- [ ] test and document in testplan

Marketing
- [ ] Check/Update info.xml (summary, description, etc.) @pmaier
- [ ] Find screenshot, if necessary

Build
- [ ] bump version to ?
- [ ] sign and build tarball
- [ ] upload to marketplace

Docs
Nothing to do

Communication
- Blogpost on .org ? @lefherz

[2017-06-27 15:48] VicDeo commented on #160
Makes no sense without https://github.com/owncloud/files_antivirus/pull/159

[2017-06-27 18:29] DeepDiver1975 commented on #160
why not? one can work on two topics in parallel? 😕

[2017-06-27 18:31] VicDeo commented on #160
@DeepDiver1975 because https://github.com/owncloud/files_antivirus/pull/159 is a fix. Why should we release an app that is known to have a broken cronjob inside?

[2017-06-27 18:32] DeepDiver1975 commented on #160
but yo can still prepare the release - right?
- [ ] Makefile just like all the other apps have
- [ ] make sure the signing key is at your hand
- [ ] test upload the package to marketplace.in.owncloud.com

[2017-06-27 19:01] DeepDiver1975 commented on #160
please use the makefile we have everywhere - see e.g. gallery or activity ....

[2017-06-28 12:17] #158 closed

[2017-06-28 21:32] VicDeo commented on #160
@DeepDiver1975 all is green ^^^

[2017-06-29 14:20] PVince81 commented on #72
-> triage

also not sure how to track milestone as this is a purely documentation thing ?

[2017-06-29 17:44] VicDeo commented on #72
@PVince81  IMO it needs to be paired and tested with at least one particular solution.
`other than ClamAV` is too generic.

a while ago I found nothing installable for my openSUSE that has a trial period.

[2017-06-29 17:53] cdamken commented on #72
@pmaier1 @hodyroff this was asked for many customers before.

[2017-06-30 07:34] hodyroff commented on #72
The only one we had success with was bitdefender. Otherwise ICAP is on our EE roadmap.

[2017-06-30 15:28] DeepDiver1975 commented on #160
staging - https://marketplace.int.owncloud.com/apps/files_antivirus

[2017-07-01 14:20] bcutter commented on #47
I also get this messages from time to time. Example (shortened):

`files_antivirus	Not Checked. No matching rules. Please check antivirus rules. ... filename.pdf`

ClamAV correctly set up, running as daemon (network socket). I use the standard rules and didn´t change them.

So what to do or check?

[2017-07-04 16:00] VicDeo commented on #47
@bcutter could you please open a new issue with your OC version / app version and an exact log message?

[2017-07-06 18:04] felixboehm commented on #160
QA needed here? Any specific topics to test?

[2017-07-11 12:56] voroyam opened #163 "oc 10.0.2 error message only "unsupported media type""
When uploading eicar to owncloud 10.0.2 with antivirus app enabled and installed on host system
a message occurs "unsupported media type" on the webUI and in the logs:
`"Exception\":\"OCA\\\\DAV\\\\Connector\\\\Sabre\\\\Exception\\\\UnsupportedMediaType\"`

A user reported, that this was done better in earlier versions of owncloud.

[2017-07-11 13:00] VicDeo commented on #163
@voroyam The apps returns HTTP and message https://github.com/owncloud/files_antivirus/blob/stable10/lib/avirwrapper.php#L108

But any message is overridden on the core level.

[2017-07-11 13:47] michaelstingl commented on #163
In oC 9.1.x, it showed a nice, actionable error message:

@VicDeo Do you mean core overrides this message? Why?

[2017-07-12 09:22] michaelstingl commented on #163
@PVince81 I need an assignment here.

[2017-07-12 09:27] PVince81 commented on #163
@VicDeo please take on this once you're done with all p1. thanks

[2017-07-12 09:28] Emil-G opened #164 "Updating AV ruleset fails on both OC9 and 10 (oracle DB)"
Hi,

When attempting to update the AV ruleset (Oracle DB backend) error messages are printed to the owncloud log, and no change is committed.

1: Do a change on the ruleset.
2: Press the checkmark buttion and see error in log: ![image](https://user-images.githubusercontent.com/402551/28111033-67538e4a-66f4-11e7-83b0-18e4fa3bf56b.png)
3: When refreshing page, no change has been committed.

Tested o

[2017-07-12 11:21] michaelstingl commented on #164
@PVince81 I need an assignment here.

00007924

[2017-07-12 11:54] PVince81 commented on #164
@VicDeo

[2017-07-13 07:47] Emil-G commented on #164
I am not sure if it is related, but I do see these errors in OC10 as well (oracle DB error message) related to the _BackgroundScanner_:
[code]

[2017-08-01 23:16] VicDeo commented on #164
@Emil-G what is exact Oracle version?
I have the following with 11.2.0.2.0:
[code]

and then

[code]

Google tells me that it could be a known bug of 11.2 https://stackoverflow.com/questions/29654867/ora-00942-but-the-table-exists-in-dba-tables-and-dba-objects

[2017-08-02 05:22] Emil-G commented on #164
@VicDeo : We are using **Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production**. Using the latest instaclient (oracle-instantclient12.2-basic-12.2.0.1.0-1.x86_64).
Cheers,
Emil

[2017-08-02 16:17] bcutter opened #166 "Not Checked. No matching rules. Please check antivirus rules."
Basic data:
- OC v10.0.2.1
- files_antivirus details:
[code]

Problem:
I get the following message from time to time:

[code]
It seems like the file type can´t be handled. BUT: While e. g. one .jpg works just fine, another .jpg produces this message. Therefore I don´t see any pattern so far.

ClamAV is correctly set up and working, running as daemon (network socket). I use the standard rules and d

[2017-08-02 16:17] bcutter commented on #47
@VicDeo
DONE (https://github.com/owncloud/files_antivirus/issues/166).

[2017-08-02 20:33] VicDeo commented on #164
@Emil-G

Please use 1 issue per report. Bg job issues are already  addressed in https://github.com/owncloud/files_antivirus/pull/162

[2017-08-03 05:49] Emil-G commented on #164
Closing, as was fixed in [167](https://github.com/owncloud/files_antivirus/pull/167).

[2017-08-03 09:38] PVince81 commented on #163
Likely related to https://github.com/owncloud/core/issues/24304

[2017-08-03 09:50] PVince81 commented on #163
@VicDeo can you do a quick debug and confirm that the problem is https://github.com/owncloud/core/issues/24304 ? We might then change the priority of that one...

[2017-08-03 10:49] VicDeo commented on #163
@PVince81 yes, the real  message of the exception is disposed in a favor of pure HTTP status message.
And it started after switching upload to the DAV endpoint.

[2017-08-03 14:17] michaelstingl commented on #164
@Emil-G https://github.com/owncloud/files_antivirus/pull/167 hasn't been merged yet. (needs unit tests too)

[2017-08-08 14:03] PVince81 commented on #163
Taking over this, I have some local code to parse the Sabre exception and could adjust it for the upload message at least. (other code paths to be done later)

[2017-08-08 14:40] PVince81 commented on #163
@VicDeo please review and test with https://github.com/owncloud/core/pull/28620

[2017-08-09 14:08] pmaier1 commented on #160
added release checklist topics to the top post

[2017-08-10 06:56] #163 closed

[2017-08-11 08:06] #164 closed

[2017-08-17 10:33] felixboehm opened #171 "Release checklist"
QA
- [x] create testplan and test cases https://github.com/owncloud/QA/blob/master/Server/Test_Plan_Files_Antivirus.md
- [x] test and document in testplan #186

Marketing
- [x] Check/Update info.xml (summary, description, etc.) https://github.com/owncloud/files_antivirus/issues/172
- [x] Find screenshot, if necessary https://github.com/owncloud/files_antivirus/issues/172

Build
- [x] Add changelog

[2017-08-17 10:34] felixboehm commented on #160
follow up in #171

[2017-08-17 10:34] #160 closed

[2017-08-22 09:53] pmaier1 opened #172 "Check/update info.xml stuff"

[2017-08-22 09:53] pmaier1 opened #173 "Add changelog"
Please add a changelog to this repository logging changes version-wise as far as possible.

- [ ] Add CHANGELOG.md
- [ ] Stick to the keepachangelog structure proposed and implemented by @PVince81 in core and e.g. https://github.com/owncloud/customgroups/blob/master/CHANGELOG.md

There's a script to compile the changelog according to merged PRs. For apps it could also be easier to note down change

[2017-08-23 19:33] VicDeo commented on #147
@crysman is this issue still reproducible for you?

[2017-08-23 19:40] VicDeo commented on #130
@drelich
- ` DELETE FROM oc_appconfig where appid='files_antivirus';`
- drop  `oc_files_antivirus`;
- drop  `oc_files_avir_status`;
- reenable app

I have no idea how it happens but it should be fixed on master/stable10 as we already use migrations there.

[2017-08-23 20:26] VicDeo commented on #107
@crysman
Are you able to change other antivirus settings?
What comes in response from the server when you click `Save`?
![screenshot_20170823_232319](https://user-images.githubusercontent.com/991300/29636658-220e8858-885a-11e7-87bb-1158c182928c.png)

[2017-08-30 10:56] crysman commented on #107
no message at all, page is reloaded, modified settings are gone (page is reloaded with the same settings as before changing them)
using ownCloud 9.1.4 (stable)

[2017-08-30 11:00] crysman commented on #147
why wouldn't be? We are still running the same version of OC - shall I upgrade to ver 10 to check? Or has the antivirus plugin got updated since my post?

[2017-08-31 10:35] individual-it opened #177 "'HTTP/1.1 415 Unsupported Media Type' returned when virus found"
when a virus is found the antivirus app returns `HTTP 415 UnsupportedMediaType`
I feel `403 Forbidden` would be more suitable

[2017-08-31 11:09] individual-it opened #178 "missing validation in input fields"
the fields 'Host', 'Port', 'Stream Length' & 'File size limit' should be validated better.
All fields seem to accept any character. At least "Port" and "File size limit" do not save strings that do not look like integer, the other fields do.
But you can enter a "minus" in the port field. e.g. "Port : -3310" and it get saved
In 'Host' and 'Stream Length' its possible to enter any kind of rubbish an

[2017-08-31 12:07] individual-it opened #179 "File size limit is not obeyed when using chunking"
files of any size get checked regardless of the "File size limit" setting when chunking is used

[2017-09-01 07:05] individual-it opened #180 "administrator should be notified if clamav not reachable"
To see if clamAV is reachable and works the admin has upload a file and check if there any error messages in the log file or he/she has to upload a test virus file e.g the `eicar.com` file with the content `X5O!P%@AP[4\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*` and see if its rejected.
But it would be handy if the app would check at least the reachability of clamAV when saving the s

[2017-09-01 07:10] individual-it opened #181 "reject file uploads when clamAV is not reachable"
When and admin configures the antivirus app, every upload has to be scanned. If the clamAV service is not reachable for whatever reasons the upload cannot be checked and should be rejected.

This was first suggested by @hodyroff in https://github.com/owncloud/core/issues/28870#issuecomment-326413982

[2017-09-01 08:37] individual-it opened #182 "if an app implements own upload endpoints the antivirus is not triggered"
tested with the text editor:
1. create a new file
2. enter the eicar test virus code: `X5O!P%@AP[4\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*`

the antivirus app does not get triggered and the virus file gets saved

[2017-09-01 09:00] individual-it opened #183 "input fields are not aligned correctly"
![image](https://user-images.githubusercontent.com/2425577/29962800-23aed1ce-8f24-11e7-943d-21ab549552b4.png)

[2017-09-01 10:25] PVince81 commented on #182
I guess the antivirus storage wrapper doesn't intercept "file_put_contents" ?

[2017-09-01 12:07] VicDeo commented on #182
@PVince81 it's already known and discussed.

[2017-09-01 12:37] PVince81 commented on #181
I don't think this is a release blocker -> p2

cc @pmaier1 @felixboehm if you think otherwise

[2017-09-01 12:37] PVince81 commented on #179
I don't think this is a release blocker -> p2

cc @pmaier1 @felixboehm if you think otherwise

[2017-09-01 12:39] PVince81 commented on #179
which chunking ? old webdav chunking or new dav endpoint chunking ? (the latter is with the "uploads/" folder)

Antivirus might need a similar approach like firewall to find out the final file size

[2017-09-01 12:39] PVince81 commented on #181
the antivirus should likely throw a proper exception to abort the upload

[2017-09-04 09:52] individual-it commented on #179
chunking on both dav endpoints does not calculate the size correctly

[2017-09-04 18:37] VicDeo commented on #181
To reject upload I should to be  100% sure that upload is in progress.
Any kind of `Storage::fwrite` will be rejected If I just throw an exception.

[2017-09-04 19:07] VicDeo commented on #179
@individual-it With  which app version?

[2017-09-04 19:17] VicDeo commented on #107
@crysman this line should prevent page from reload https://github.com/owncloud/files_antivirus/blob/stable9.1/js/settings.js#L146

So either the javascript part is not loaded properly or admin page layout is broken.

[2017-09-04 19:53] VicDeo commented on #179
<img width="476" alt="limit-v0 10 1 0" src="https://user-images.githubusercontent.com/991300/30037474-cf9f0750-91c3-11e7-8d83-23885aee8ff1.png">

[2017-09-05 07:41] #173 closed

[2017-09-05 08:08] individual-it commented on #179
current master branch

[2017-09-05 09:47] PVince81 commented on #177
This might be by design ? I seem to remember @michaelstingl mentioning this in another ticket.

[2017-09-05 11:54] michaelstingl commented on #177
I thought https://github.com/owncloud/core/pull/28620 fixed it. (Related: https://github.com/owncloud/enterprise/issues/2141)

[2017-09-05 11:57] PVince81 commented on #177
https://github.com/owncloud/core/pull/28620 will parse the Sabre exception message as returned by the server. If the message says "Unsupported Media Type" then it will just display that. If we want something else, then the antivirus needs to provide a proper exception message to be displayed.

This ticket is rather about using 403 instead of 415. But I thought 415 was by design already, so we shou

[2017-09-05 12:46] michaelstingl commented on #177
Oh, I understand. My concerns were more about the error message we receive in the body of the response.

[2017-09-12 06:27] individual-it opened #186 "testplan"
## File antivirus Test Plan
tested server setup: stable10 branch (https://github.com/owncloud/core/commits/18e672eb38a10f267c0fa811c16263241be10747), sqlite DB
file antivirus version: master branch (5c07baa54694bba9ecea7c1127f0cd8c97f7add4)

### Installing the app
| Test Case                                | Expected Result                          | Result | Related Comment |
| ------------------

[2017-09-12 10:27] individual-it commented on #171
testing finished results in: #186

[2017-09-12 14:03] PVince81 commented on #172
@pmaier1 any update ?

[2017-09-13 15:21] VicDeo commented on #183
@individual-it browser, screen resolution?
<img width="405" alt="avir" src="https://user-images.githubusercontent.com/991300/30385574-481c3cbe-98b0-11e7-8f96-f04d2d14211c.png">

[2017-09-14 12:07] individual-it commented on #183
FF 55 and Chrome 60 both on Debian
Chrome is a little bit different. Also happens on various resolutions
FF:
![ff](https://user-images.githubusercontent.com/2425577/30428952-5dd7aec4-9975-11e7-8ea8-974bf9493d22.gif)
Chrome:
![chrome](https://user-images.githubusercontent.com/2425577/30428948-587c6118-9975-11e7-9d49-8ed78e084e3d.gif)

sorry quality of the gif is not the best

[2017-09-14 16:07] PVince81 commented on #177
moving to "development" for the next release

[2017-09-14 16:07] PVince81 commented on #177
@VicDeo please help with the discussion above

[2017-09-14 16:31] PVince81 commented on #179
moving to development, to look into for the next release @VicDeo

[2017-09-14 16:32] PVince81 commented on #181
@VicDeo when does the streaming to clamav start ? Even if we started streaming a few bytes and and only then throw an exception it's fine too

[2017-09-14 16:33] PVince81 commented on #178
moving to development to work on for next release

[2017-09-14 16:33] PVince81 commented on #182
moving to development to work on for next release.

@VicDeo where is the discussion ?

[2017-09-14 16:34] PVince81 commented on #183
moving to development to work on for next release

[2017-09-15 08:19] PVince81 commented on #171
currently no marketplace... the app is still bundled.

[2017-09-18 08:36] individual-it commented on #183
seems to be fixed with #187

[2017-09-21 07:36] Emil-G commented on #164
@michaelstingl : hi, this change is in the changelog for enterprise 10.0.3. But it is actually not included in the 10.0.3 enterprise release.

Readme from tarball says:
### Fixed
- Oracle: Error when saving a rule  [167](https://github.com/owncloud/files_antivirus/pull/167)

But the line is still the old, non functioning one.

[2017-09-21 08:43] michaelstingl commented on #164
@Emil-G Thank you very much for your feedback!

@VicDeo @PVince81 Please check

[2017-09-21 13:44] PVince81 commented on #164
Checked, missing backport: https://github.com/owncloud/files_antivirus/pull/167#issuecomment-331160574

[2017-09-21 13:51] VicDeo commented on #172
@pmaier1 could we expedite this somehow to fit into 10.04?

[2017-09-22 08:04] VicDeo commented on #164
Backport arrived https://github.com/owncloud/files_antivirus/pull/188

[2017-09-22 09:41] VicDeo commented on #171
@felixboehm there is a screenshot already, is it good enough?
[screenshot](https://user-images.githubusercontent.com/991300/27660154-cbc247fe-5c5e-11e7-8245-b650c25521e6.png)

[2017-09-23 12:20] PVince81 commented on #171
@pmaier1 ^

[2017-09-27 12:20] pmaier1 commented on #172
https://github.com/owncloud/files_antivirus/pull/190

[2017-09-28 07:24] pmaier1 commented on #172
We still want to exchange the screenshot. Thanks for being quick with this but we need to wait a bit. I will do this today!

[2017-09-28 08:14] #183 closed

[2017-09-28 12:04] pmaier1 commented on #172
https://github.com/owncloud/files_antivirus/pull/191/

[2017-09-28 12:35] #172 closed

[2017-09-28 12:36] pmaier1 commented on #171
Ready for release!

[2017-09-28 18:00] #171 closed

[2017-10-02 05:15] michaelstingl commented on #164
@Emil-G files_antivirus 0.11.2 has been released, and can be downloaded from ownCloud Marketplace, including the fix for this issue:
https://marketplace.owncloud.com/apps/files_antivirus

[2017-11-03 13:50] PVince81 commented on #179
will this need core changes ?

[2017-11-03 13:52] PVince81 commented on #179
will this need core changes ? can we move forward with this ?

[2017-11-03 13:53] PVince81 commented on #177
moving to backlog

[2017-11-03 13:54] PVince81 commented on #178
backlog

[2017-11-03 13:55] PVince81 commented on #182
@VicDeo ping, see previous comment

[2017-11-03 14:04] VicDeo commented on #182
@PVince81 ook. you asked ;)
https://github.com/owncloud/enterprise/issues/1764

[2017-11-15 09:31] crysman commented on #107
@VicDeo well, this seems to be a good trail - there seems to be a problem with ACL, have look at this report from Chromium developer console when page `https://cloud.mydomain.yeah/index.php/settings/admin` is loaded (domain has been obfuscated by me):
[code]

What shall I do? Where do I find proper ACL settings and why is it wrong in the first place? Thanks

[2017-11-15 09:38] crysman commented on #107
it seems to be quite inconsistent :/ look:
[code]

[2017-11-16 15:09] VicDeo commented on #179
Fixed with https://github.com/owncloud/files_antivirus/pull/196

[2017-11-24 17:52] row2hot commented on #107
Hello,

i found a Solution for our Installation, after doing some research with the "Chrome Developer-Tools".
The "Chrome Developer-Tools" show me the following Error when i pressed the "save" Button:
**An invalid form control with name='avPort' is not focusable.**

Please switch the Antivirus-Configuration to "Daemon" it looks like this:
<img width="494" alt="1" src="https://user-images.githubuse

[2017-11-28 07:24] #181 closed

[2017-11-28 07:24] #180 closed

[2017-11-28 15:10] VicDeo opened #199 "Look for a better way to bypass going to trashbin"
instead of
[code]

[2017-11-28 15:42] crysman commented on #107
This has **fixed the problem**:
`❯ chown ocmydomainyeah:www-data files_antivirus`

After making this change, apache2 no longer replied with "403 Forbidden" to some of the .js and .css files under files_antivirus.

I suppose it occurred a loong time ago, when files_antivirus had not been an official included app yet, and that it prevailed unfixed till these days.

Thanks @VicDeo for leading me to t

[2017-11-28 17:18] row2hot commented on #107
Hi,

there are some "Post Installation Setps" with a Permission Script. Feel free to modify it for you Installation: https://doc.owncloud.org/server/10.0/admin_manual/installation/installation_wizard.html#post-installation-steps-label

Regards

row2hot

[2017-11-28 17:44] VicDeo commented on #107
@crysman
TL;DR
default permissions: `0644` for files, `0755` for directories
strict permissions: `0640` for files, `0750` for directories

Files and directories should be at least readable by the user that is used to run webserver.
To meet this requirement it enought to have all files/dirs should be owned by this user.

The link provided by @row2hot comes from an ideal world of unix where the prin

[2017-11-29 14:24] PVince81 opened #201 "Trigger user notification in case an infected file was found by background scanner"
Usually infected files are caught early and cannot be uploaded.

However, there are some scenarios where an infected file could find itself already on the storage:
- at the time of the upload, the signature database wasn't up to date or virus was not known yet
- someone uploaded the file directly to an external storage and bypassing OC

The background scanner which runs with cron is able to find t

[2017-12-06 19:56] juamargo opened #202 "Antivirus Configuration fails when saved"
After update to version 0.11.2, I can't change configuration of this app. Button "Save" has not reaction, and content of fields get back to previous values.

[2017-12-06 20:21] juamargo commented on #202
I've resolved this issue deleting the 'file_antivirus' rows in the 'oc_appconfig' table in the MySql database, and reinstalling the app.

[2017-12-14 09:28] #182 closed

[2017-12-14 15:24] pmaier1 opened #204 "0.12.0 Release plan"
**Reason**
- Release needed for
feature #180, the app should  check the reachability of clamAV when saving the settings
feature #181 If the clamAV service is not reachable for whatever reasons the upload cannot be checked and should be rejected.
bugfix #179, files of any size get checked regardless of the "File size limit" setting when chunking is used
bugfix #182 it is possible to save a signatur

[2017-12-14 15:41] VicDeo commented on #204
There is a testplan from a previous version that could be handy https://github.com/owncloud/files_antivirus/issues/186

[2017-12-15 11:58] SamuAlfageme opened #205 "[Feature Request] occ commands to configure files_antivirus"
On our quest to have all apps configurable to automate stuff - It'd be nice to have a way to do this with antivirus. This way I can launch a container stack with ownCloud and configure it to connect to a clamav daemon running on a different container.

Available settings for reference:

<p align="center">
  <img src="https://user-images.githubusercontent.com/2644445/34041095-f9f08f60-e196-11e7-9c5

[2017-12-15 12:04] VicDeo commented on #205
@SamuAlfageme
`php occ config:list | grep av_`
`php occ config:app:set files_antivirus whatever_key value `

[2017-12-17 19:32] SamuAlfageme commented on #205
@VicDeo neat! this will do.

Would be cool however to add some syntactic sugar to make it easier/shorter to configure: e.g. `occ files_antivirus:daemon clamav:3310`

But this is definitely enough to close. Thanks!

[2017-12-17 19:32] #205 closed

[2018-01-02 10:58] crysman commented on #107
OK, thank you both. I had to modify the [referred script](https://github.com/owncloud/files_antivirus/issues/107#issuecomment-347596397) in order to have our owncloud web functioning (it has stopped working after running the set-strict-permissions script - it ended with whether NOT FOUND or 500 errors)

Namely, I had to set the owner of all files and directories to the webserver user, as @VicDeo s

[2018-01-02 11:03] crysman commented on #107
No, I don't believe its safe enough, since it has user-RW everywhere and the user is now the webserver user. What shall I do to both make it work and have it secure?

[2018-01-15 08:04] individual-it commented on #178
This was first fixed (frontend validation) by #187 but it looks like #195 brought that issue back
after #195 I see red marks around invalid fields but still can save the invalid settings
![image](https://user-images.githubusercontent.com/2425577/34932455-e6d847ac-f9fa-11e7-8edc-f5ce3bafcef0.png)

[2018-01-15 10:03] individual-it opened #208 "chunked files (old algorithm) don't get checked"
1. set up the app and make sure it blocks `eicar.com` from http://www.eicar.org/85-0-Download.html
2. setup variables:
[code]
3. split file for chunking
`split -d -b 50 eicar.com eicar.com_`

4. upload with chunking:
[code]

The problem was introduced by #196

[2018-01-15 10:14] individual-it opened #209 "public uploads don't get checked"
1. set up the app and make sure it blocks `eicar.com` from http://www.eicar.org/85-0-Download.html
2. create an public link with upload permissions
3. upload `eicar.com`

The problem was introduced by #196

[2018-01-15 10:55] individual-it opened #210 "0.12.0 testplan"
## File antivirus Test Plan
tested server setup: stable10 branch (v10.0.5RC3), sqlite DB
file antivirus version: 0.12.0 (https://github.com/owncloud/files_antivirus/pull/203)

### Installing the app
| Test Case                                | Expected Result                          | Result | Related Comment |
| ---------------------------------------- | ----------------------------------------

[2018-01-15 10:58] individual-it commented on #204
test-results in #210
the draft test plan can be found in https://github.com/owncloud/QA/blob/master/Server/Test_Plan_Files_Antivirus.md

[2018-01-16 08:16] pmaier1 commented on #204
Docs have been adapted https://github.com/owncloud/documentation/pull/3645

[2018-01-17 17:55] VicDeo commented on #208
Well, I don't know how to fix it properly.
The only solution is to  scan dav v1 chunks

[2018-01-30 13:25] PVince81 commented on #209
@VicDeo please investigate

[2018-01-30 13:26] PVince81 commented on #208
Didn't it work before for old chunking ? I thought it would check the file during final assembly ?

[2018-01-30 13:26] PVince81 commented on #208
closed by https://github.com/owncloud/files_antivirus/pull/211

[2018-01-30 13:27] PVince81 commented on #209
closed by https://github.com/owncloud/files_antivirus/pull/211

[2018-01-30 13:27] #209 closed

[2018-01-30 13:32] #208 closed

[2018-01-30 14:45] VicDeo commented on #208
@PVince81

yes, since chunks were scanned before.
But since version 0.12.0 aka "still unreleased" chunks are skipped for performance reasons and only the final file is scanned.

[2018-01-31 07:37] individual-it commented on #179
reopening as I still have the problem in 0.12.0
reproduce:
1. set "File size limit" to 100bytes
2. try to upload `eicat_com.zip` (184byte) by chunking e.g.:
[code]

[2018-02-02 12:14] patrickjahns commented on #210
@individual-it
#179 will be added to the "known-issues" and is not a release blocker

Regarding #178 -> will ping victor on an ETA and decide if known issue or we fix it for the release

[2018-02-05 09:02] individual-it commented on #178
fixed by #212

[2018-02-05 09:02] #178 closed

[2018-02-06 18:02] patrickjahns commented on #150
By design, using encryption and running a background scan is only possible, when using a master-key encryption. (The server needs to be able to decrypt the file to scan the contents).

When user-key encryption is enabled, the server is not able to access the files.

[2018-02-07 14:47] patrickjahns commented on #186
Should this testplan be moved to QA repository as template and then closed?

[2018-02-11 23:31] patrickjahns commented on #110
closing - if this issue still occurs - please reopen a new ticket

[2018-02-11 23:31] #110 closed

[2018-02-20 09:26] dani-sanchez-dorado opened #216 "Error uploading file: OC_FileChunking:"
Hello,
I have just updated the files_antivirus app to 0.12.0 and I get this error when I upload a file:

Feb 20 09:49:58 <server> apache2[2833]: {PHP} Call to undefined method OC_FileChunking::isWebdavChunk() at /home/soft/owncloud-10.0.1/apps/files_antivirus/lib/RequestHelper.php#42

My system info is:

Operating System: Ubuntu 16.04.02 LTS
Web server: Apache
Database: MySQL
PHP version: 5.6.30-1

[2018-02-20 09:45] VicDeo commented on #216
@dani-sanchez-dorado
oops, `OC_FileChunking::isWebdavChunk`   was added in 10.0.3

[2018-02-20 10:13] dani-sanchez-dorado commented on #216
Ok!
then, do you think that be interesting to put a restriction in installation process about owncloud version?
I will be good for other users.

Thank you !

[2018-02-20 10:30] VicDeo commented on #216
@patrickjahns we might need a quickfix app release for this.

[2018-02-20 10:32] VicDeo commented on #216
@dani-sanchez-dorado
you can copy the implementation (5 lines) from
https://github.com/owncloud/core/blob/master/lib/private/legacy/filechunking.php#L42-L47

[2018-02-20 11:51] patrickjahns commented on #204
closed as #203 has been merged

[2018-02-20 11:51] #204 closed

[2018-02-20 11:52] patrickjahns commented on #210
closing - has been released

[2018-02-20 11:52] #210 closed

[2018-02-20 11:59] dani-sanchez-dorado commented on #216
Great!

 I have patched my owncloud and now works perfect!

Thank you very much!

[2018-02-20 11:59] #216 closed

[2018-02-20 18:51] VicDeo commented on #202
closing as self-resolved as nobody else had the same issue.
In 0.12.0 settings are saved with ajax anyway.

[2018-02-20 18:51] #202 closed

[2018-02-20 19:11] VicDeo commented on #130
Closing as resolved. Feel free to reopen if it is still reproducible.

[2018-02-20 19:11] #130 closed

[2018-02-20 19:16] VicDeo commented on #152
@Mysterycz it was probably related to scanning individual chunks for large files.
Newly released v0.12.0  skips chunks and scans the complete file only. So there should be a speed improvement.
In addition it has an option to limit filesize for scanning.

[2018-02-21 10:25] VicDeo opened #218 "Track file modifications in bg scanner"
There is no need to rescan files if the content hasn't changed.
We'd better have an attribution to the file content using `eTag` for bg scanner ad trigger rescan if `eTag` of the avir differs from fiile `etag`.
In addition there should be a filter on a scantime in order not to stuck with the same set of frequently changed files.

[2018-04-11 14:24] patrickjahns opened #221 "[For 10.0.9] Antivirus 0.13.0 release checklist"
### Reason
- Release needed for #219  and https://github.com/owncloud/files_antivirus/pull/222 and https://github.com/owncloud/files_antivirus/pull/226

### QA
- [x] Create release branch ``release/0.13.0`` and PR #238 @phil-davis
- [x] Create "0.13.0 Testplan" #239  @phil-davis
- [x] Test and document in testplan => Final "Go" from QA (set 'QA-ready' label) @phil-davis

### Marketing
- [ ] Ping R

[2018-04-11 14:25] patrickjahns commented on #221
@VicDeo
please add if there are other parts to be included in the next release

[2018-04-11 14:29] VicDeo commented on #177
Fixed with https://github.com/owncloud/files_antivirus/pull/219

[2018-04-11 14:29] #177 closed

[2018-04-11 14:32] VicDeo commented on #221
So far nothing but the fix for https://github.com/owncloud/core/issues/30751 that fixes https://github.com/owncloud/files_antivirus/issues/177 too

[2018-04-18 19:06] VicDeo commented on #221
To document:
HTTP status for infected files has changed from 415 to 403

[2018-04-23 11:48] #150 closed

[2018-04-23 11:49] #152 closed

[2018-04-23 12:02] felixboehm commented on #179
@VicDeo please retest, and provide a fix

[2018-04-25 09:04] tomneedham opened #223 "File not exists pollutes log when files are missing"
Level 3 log https://github.com/owncloud/files_antivirus/blob/master/lib/Item.php#L66

[2018-04-25 16:29] VicDeo commented on #223
@tomneedham well, missing file looks like an an error to me

[2018-04-25 19:00] VicDeo commented on #179
I don't see a solution without refactoring the app.

An app catches a call to `fopen` and makes a decision on the filesystem level.
 fopen is not aware about the source of the data and a target file has zero size at that moment.
Let me dig more...

[2018-04-25 20:50] VicDeo commented on #179
hm. Given that chunking requires an `OC-Total-Length` header for the final MOVE I wonder if the size check is broken in core...
https://github.com/owncloud/core/blob/master/apps/dav/lib/Upload/ChunkingPlugin.php#L98-L107

According to this snippet
[code]
is incorrect and
[code]
is needed

[2018-04-25 20:55] VicDeo commented on #179
oops. it is allowed to omit `OC-Total-Length`. Please disregard the previous comment.

[2018-05-09 17:04] mmattel opened #224 "php-cs-fixer"
@DeepDiver1975
Any plans to implement ``php-cs-fixer`` as we have in core ?

[2018-05-22 08:10] VicDeo commented on #221
it would nice to have https://github.com/owncloud/files_antivirus/pull/226 too

[2018-05-23 13:50] patrickjahns opened #228 "API (acceptance) tests"
It would be great to bootstrap api acceptance tests for files_antivirus

### Prerequisites
- [x] bootstrap drone testing + enable clamav in drone @patrickjahns

### Scenarios
- [x] Uploading via regular upload #232
- [x] Uploading via old chunking #232
- [x] Uploading via new chunking endpoint #232
- [x] Public uploads (issue #209 ) (PR #244)
- [x] File-size limit when chunking (issue #179 ) (PR #

[2018-05-23 14:32] patrickjahns opened #229 "Failing UNIT tests on master"
Since the objectstorage fixes have been merged - unit tests on master fail for this app with non-objectstore:

https://travis-ci.org/owncloud/files_antivirus/builds/380491595

PR that introduced changes in core
https://github.com/owncloud/core/pull/31285#issuecomment-390181706

Tests are failing with:

[code]

[2018-05-23 14:35] PVince81 commented on #229
Assigned to @VicDeo who said had a solution, something related to skeletons

[2018-05-23 14:35] PVince81 commented on #229
this is a blocker for object store work: https://github.com/owncloud/core/pull/31050

[2018-05-23 15:06] VicDeo commented on #229
well, it's fixed in #226 so it's a good reason to get it merged faster ;)

[2018-05-23 15:07] VicDeo commented on #229
By `fixed` I mean "fixed for this app", as the reason is somewhere in core

[2018-05-23 15:09] patrickjahns commented on #229
Can we split the fix into a smaller PR and merge it first - and then we can continue testing #226

For #226 I would like to also get #228 started

[2018-05-23 15:22] VicDeo commented on #229
damn, I have to get used to "rebase-resolve conflict-force push" recently. But I don't. :)

ok, will do a bit later

[2018-05-23 19:43] patrickjahns commented on #229
Note #230 resolve the issue for `file_antivirus` - but leads to:

[code]

Which means that the original problem in core persists

[2018-05-23 21:53] #229 closed

[2018-05-24 07:34] #179 closed

[2018-05-24 07:35] PVince81 commented on #221
added https://github.com/owncloud/files_antivirus/pull/226 in OP

[2018-05-25 06:47] VicDeo commented on #224
done

[2018-05-25 06:47] #224 closed

[2018-05-25 09:16] patrickjahns commented on #228
For drone - we can for now use `dinkel/clamavd` as clamav container. If needed we can fork and build it in https://github.com/owncloud-ci

[2018-06-01 10:55] patrickjahns commented on #221
what is the `min-version` for this app now related to the change of forbidden.

please also note - this needs to be at least a minor version - as we changed behavior - so instead of 0.12.1 - it is 0.13.0

[2018-06-01 14:08] VicDeo commented on #221
@patrickjahns depends on 10.0.8 after #219

[2018-06-12 10:48] davitol commented on #221
Tested partially in stable10 + files antivirus master branch using objectore and no new issues were found. https://github.com/owncloud/files_primary_s3/issues/61#issuecomment-394608063

[2018-07-10 11:28] phil-davis commented on #221
Tested with core ``10.0.8``. With a bit of messing around copying backwards the core acceptance test code used by this app, I was able to get the acceptance tests to run.

With core ``10.0.8`` a ``500`` status gets returned when a virus is detected. The file upload is correctly blocked, so the functionality of blocking is fine.

With core ``10.0.9`` a ``403`` status gets returned when a virus is d

[2018-07-10 18:12] phil-davis opened #239 "0.13.0 Test Plan"
## File antivirus Test Plan
tested server setup: stable10 branch (v10.0.9RC3), mySQL DB
file antivirus version: 0.13.0 release/0.13.0 #238

### Installing the app
| Test Case                                | Expected Result                          | Result | Related Comment |
| ---------------------------------------- | ---------------------------------------- | ------ | --------------- |
| Enabl

[2018-07-10 18:14] phil-davis commented on #239
All good. While inspecting log messages, I noticed another place with a space missing before the word ``Account:`` in the log messages. That is fixed by a commit in the release PR. Totally minor - adding a single space char!

[2018-07-10 18:19] phil-davis commented on #221
@patrickjahns testing completed in #239
Release PR #238 for review.
You should be able to just add a changelog to that PR and proceed with making the release...

[2018-07-11 10:55] patrickjahns commented on #221
@phil-davis @PVince81 - raising `min-version` to `10.0.9` - `500` is unexpected behavior

[2018-07-11 14:42] VicDeo commented on #221
@phil-davis not exactly.  it was 415 before.

[2018-07-11 14:45] phil-davis commented on #221
OK - so I am glad that I made the effort to run tests against 10.0.8!

[2018-07-11 16:43] #221 closed

[2018-07-11 16:44] patrickjahns commented on #239
closing as it has been released

[2018-07-11 16:44] #239 closed

[2018-07-16 04:20] individual-it commented on #186
testplan template is here https://github.com/owncloud/QA/blob/master/Server/Test_Plan_Files_Antivirus.md

[2018-07-16 04:20] #186 closed

[2018-07-18 11:19] felixheidecke opened #241 "jQuery Core 1.9 Upgrade Guide"
# jQuery Core 1.9 Upgrade Guide

Changes of Note in jQuery 1.9
See the full [upgrade guide at jquery.com](http://jquery.com/upgrade-guide/1.9/)

## Removed
## Minor

`.trigger()`

- [x] /js/settings.js

`.focus()`

- [x] /js/settings.js

`.data()`

- [x] /js/settings.js

`.parents()`

- [x] /js/settings.js

`.focus()`

- [x] /js/settings.js

`.attr()`

- [x] /js/settings.js

`.toggle()`

- [x] /js

[2018-07-23 10:16] individual-it commented on #228
some mote tests in #246
closing this now?

[2018-07-23 17:01] VicDeo commented on #241
mmm. I'm loosing the track what should be done here... testing?

[2018-07-24 10:08] felixheidecke commented on #241
@VicDeo The methods above are those who "might" have changed in jQuery 1.9 and 2.x respectively, so these need to be checked if they break on upgrading to jquery 2. I am preparing a core branch with jquery 2 for testing purposes.

[2018-07-24 10:21] felixheidecke commented on #241
Please use https://github.com/owncloud/core/tree/jquery-2-migration for testing jquery 2

[2018-07-26 15:47] #241 closed

[2018-07-30 15:29] #228 closed

[2018-08-28 12:39] felixheidecke opened #255 "jQuery UI Upgrade"
# jQuery UI Upgrade

See the full [upgrade 1.11. guide](https://jqueryui.com/upgrade-guide/1.11/)

See the full [upgrade 1.12. guide](https://jqueryui.com/upgrade-guide/1.12/)

## [1.11] (Core) Deprecated multiple

`.focus()`

- [x] js/settings.js

## [1.12] (Core) Removed multiple

`.focus()`

- [x] js/settings.js

[2018-08-29 08:52] PVince81 commented on #255
focus usage unrelated

[2018-08-29 08:52] #255 closed

[2018-09-25 07:26] mmattel opened #262 "'av_scan_background' has no UI entry where it can be changed"
Is this intended that the value can only be changed via
``php occ config:app:set files_antivirus av_scan_background --value 'false'`` ?

Compared to eg: ``'av_mode'`` in templates/settings.php
[code]
See also: https://github.com/owncloud/files_antivirus/pull/213#issuecomment-365598066

@VicDeo @patrickjahns

[2018-09-25 11:59] mmattel commented on #262
@VicDeo mind to support?
Somehow important as this also impacts the commad line documentation we are working on.
Things should be complete.

[2018-11-02 06:41] phil-davis opened #267 "Move remaining CI from Travis to drone"

[2018-11-02 07:47] DeepDiver1975 commented on #267
please remove scrutinizer while doing this - you will need to touch the same files. THX

[2018-11-07 05:02] individual-it commented on #267
@dpakach please delete `.travis.yml`

[2018-11-07 07:30] #267 closed

[2018-11-22 09:46] phil-davis opened #272 "Move phpunit.xml to root folder"
Check these things:

- [x] move unit tests into ``test/unit`` folder
- [x] put ``phpunit.xml`` into the root folder
- [x] review ``Makefile`` etc to make the test infrastructure "standard"
- [x] anything else to make the CI and drone "standard"

Part of https://github.com/owncloud/QA/issues/582

[2018-11-26 05:05] individual-it opened #274 "API/Acceptance tests for Async Upload"
test if the Async Upload owncloud/core#32414 works correctly with the files_antivirus

[2018-11-26 05:54] individual-it opened #275 "exception shown in the log when using async upload"
when the async move (https://github.com/owncloud/core/pull/32414) is used to upload a virus file a exception is shown in the log, a normal MOVE does not produce that exception,  but only the message that the infected file is deleted.
is this a bug or a feature?
[code]

[2018-11-26 07:07] #274 closed

[2018-11-26 20:35] PVince81 opened #278 "[For Semver] Antivirus 0.14.0"
### Reason
- Release needed for max version for the Semver switch
- PHP 7.2 tests added to ensure PHP 7.2 support

### QA
- [x] Create **QA Milestone**
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-$version"
- [x] Test: Install from the provided tarball and enable in ownCloud stable10 and check it works

### Documentation
- [ ] Changes in the docs

[2018-11-29 14:44] PVince81 commented on #278
@DeepDiver1975 please upload to marketplace: https://cloud.owncloud.com/index.php/s/9mNMPBiqcSPmR7p

changelog here: https://github.com/owncloud/files_antivirus/blob/release-0.14.0/CHANGELOG.md

[2018-11-30 09:36] DeepDiver1975 commented on #278
released

[2018-12-03 11:31] felixheidecke opened #280 "jQuery 3 Upgrade"
# jQuery 3 Upgrade

See the full [upgrade 3.0 guide](https://jquery.com/upgrade-guide/3.0/)

## Ajax

`.get()`

- [ ] /js/settings.js

`.post()`

- [ ] /js/settings.js

## Data

`.data()`

- [ ] /js/settings.js

## Event

`.on()`

- [ ] /js/settings.js

[2018-12-03 21:19] #278 closed

[2018-12-05 03:53] #272 closed

[2018-12-13 13:39] tomneedham commented on #218
Could even just use Redis to cache etags and fileids of files that have been scanned and skip them. Would improve performance whilst redis cache is present, and still be secure if the cache is lost.

Thoughts?

@pmaier1

[2018-12-13 15:03] pmaier1 commented on #218
@PVince81 would be nice to schedule this as it's pretty unnecessary to always rescan all files.

Only if the solution works without redis, too, please.

[2018-12-14 09:54] PVince81 commented on #218
@VicDeo can you estimate ?

[2018-12-17 11:54] phil-davis opened #282 "Get rid of lint checks"
``owncloud-codestyle`` and ``phan`` effectively cover lint

[2018-12-17 12:08] phil-davis commented on #282
PR #283 cleans this up

[2018-12-17 14:38] VicDeo commented on #218
As soon as the eTag  at the moment of scanning is currently unknown and there is a possibility that content has been changed by the moment of update I would suggest either to drop `files_antivirus` table completely and recreate an empty table with new fields or add a new column into  `files_antivirus` and truncate the data.

estimate is 1-2 md.

[2018-12-18 02:30] #282 closed

[2018-12-18 10:34] PVince81 opened #285 "Antivirus 0.15.0"
### Reason
- [x] debug log in background job: https://github.com/owncloud/files_antivirus/pull/260#issuecomment-447906670
- [x] Do not scan files if etag hasn't changed https://github.com/owncloud/files_antivirus/pull/288

### QA
- [x] Create **QA Milestone**
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-$version"
- [x] Create "0.15.0 Testplan" @d

[2019-01-22 17:08] #218 closed

[2019-01-31 23:00] patrickjahns opened #291 "Translations not working when virus is found"
When uploading a file (eircar.txt) the message "Virus Eicar-Test-Signature is detected in the file. Upload cannot be completed" can be seen. However, when setting a default language other than english, the message is still displayed in english

# steps to reproduce
- set owncloud to a different language
- upload eicar.txt file
- see "Virus Eicar-Test-Signature is detected in the file. Upload canno

[2019-02-15 03:59] phil-davis opened #295 "Acceptance test antivirusFileSize.feature:45 is failing"
See https://drone.owncloud.com/owncloud/files_antivirus/550/262
[code]
and
[code]

[2019-02-18 07:03] phil-davis commented on #295
Fixed by #296

[2019-02-18 07:03] #295 closed

[2019-02-19 10:41] PVince81 commented on #285
since https://github.com/owncloud/files_antivirus/pull/288 looks like a bigger change, increasing version to 0.15.0

[2019-02-19 10:49] PVince81 commented on #285
RC1 is out https://github.com/owncloud/files_antivirus/releases/tag/v0.15.0RC1 @davitol

[2019-03-07 13:03] davitol opened #298 "Tracking testing results for Antivirus 0.15.0"
## File antivirus Test Plan
tested server setup: oC 10.1, mySQL DB
file antivirus version: 0.15.0 release/0.15.0 Tarball from: https://github.com/owncloud/files_antivirus/issues/285#issuecomment-465082764

### Installing the app
| Test Case                                | Expected Result                          | Result | Related Comment |
| ---------------------------------------- | -----------

[2019-03-07 13:04] davitol commented on #298
## Changelog

### Added

- [ ] Add a message to background job to help debugging issues - [#260](https://github.com/owncloud/files_antivirus/issues/260)

### Fixed

- [ ] Do not scan files if etag hasn't changed - [#288](https://github.com/owncloud/files_antivirus/issues/288)

[2019-03-08 11:48] #298 closed

[2019-03-08 11:49] davitol commented on #285
@PVince81 Tarball is QA-ready

[2019-03-15 08:23] #285 closed

[2019-04-23 08:42] individual-it opened #304 "user name is not reported in log"
wait till cron job checks the files for viruses

log shows error messages

`{"reqId":"IkuL58W5LJzNN1HzTbX3","level":3,"time":"2019-04-23T08:39:12+00:00","remoteAddr":"","user":"admin","app":"PHP","method":"--","url":"--","message":"Object of class OC\\User\\User could not be converted to string at \/home\/artur\/www\/owncloud-core\/apps\/files_antivirus\/lib\/Cron\/Task.php#178"}`

tested with oC

[2019-04-23 08:49] individual-it opened #305 "exception: Module with id: OC_DEFAULT_MODULE does not exist."
1. install oC 10.2.0RC1 and current files_antivirus release
2. wait for cron job to run or force run it with `occ background:queue:execute <id> -f`

the expected messages are not logged but `{"reqId":"4WBQNm21mwlIIRCRPk7b","level":3,"time":"2019-04-23T08:46:04+00:00","remoteAddr":"","user":"admin","app":"files_antivirus","method":"--","url":"--","message":"OCA\\Files_Antivirus\\Cron\\Task::run, ex

[2019-04-23 10:01] PVince81 commented on #305
@individual-it was this with encryption enabled or disabled ?

the error message is from encryption, as if the "encryption" app was disabled but core encryption enabled.

cc @sharidas

[2019-04-23 10:27] individual-it commented on #305
@PVince81 true, closing

[2019-04-23 10:27] #305 closed

[2019-04-23 10:33] individual-it commented on #304
also I cannot make the cron task to delete or log files, maybe because it stops after the error

[2019-04-26 10:28] patrickjahns opened #307 "Antivirus 0.15.1"
### Reason

- Release needed for #306 // #304

### QA

- [x] Create **QA Milestone**
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-$version"
- [x] Create "$version Testplan" #308 @davitol

### Documentation

- [ ] Changes in the docs needed?

### Marketing

- [ ] Ping @owncloud/marketing
- [ ] Check/adapt info.xml stuff
- [ ] Check/adapt screensho

[2019-04-26 13:41] #304 closed

[2019-04-29 10:18] individual-it opened #308 "0.15.1 Testplan"
## File antivirus Test Plan

### Installing the app
| Test Case                                | Expected Result                          | Result | Related Comment |
| ---------------------------------------- | ---------------------------------------- | ------ | --------------- |
| Enable the app in the WebGUI             | No problems found.                       | ✅      |                 |
| D

[2019-05-02 05:57] individual-it commented on #307
@patrickjahns please build RC1 tarball

[2019-06-06 09:49] patrickjahns commented on #307
RC1 tarball is available here https://github.com/owncloud/files_antivirus/releases/tag/v0.15.1RC1

[2019-06-11 09:16] davitol commented on #307
Why do we want to release with ```min-version="10.2```?

Is there an strong reason for that? (cc @pmaier1 )

[2019-06-11 09:45] patrickjahns commented on #307
@davitol
This is related to the deprecation of php5.6 in the app - 10.2 also is no longer supporting php 5.6 ( afaik )

[2019-06-11 10:32] davitol commented on #307
@patrickjahns Ok, I knew that 10.2 could be due to PHP 5.6 deprecation, but Antivirus 0.15.1 is a kind of quick fix of 0.15.0, that was available for previous versions too. So if someone has installed 0.15.0 in a 10.0/10.1 oC Server, he won't be able to get the hotfix. But as said, OK for me keep ```min-version="10.2"``` if deprecation of php5.6 is a stronger reason

[2019-06-11 11:29] phil-davis commented on #307
Note: we put `min-version="10.2"` in `master` of each app, only really because we are only doing automated CI against a QA tarball that is `10.2` and later.

If we want, it is possible to back-up `min-version` to `10.1` or `10.0` in a release branch. We just need to do testing against whatever core `min-version` we choose (and verify that the app still has PHP 5.6 compatible code) That was done in

[2019-06-14 08:53] davitol commented on #308
Note: This comment should be maybe take into account for future antivirus releases (cc @pmaier1 @micbar )

https://github.com/owncloud/enterprise/issues/1764#issuecomment-351984442

[2019-06-14 10:49] davitol commented on #308
### Changelog

- [ ] Use string instead object for logging https://github.com/owncloud/files_antivirus/pull/306 @davitol **{"reqId":"Dw6pWJ2ySAvnZLw9aOzW","level":0,"time":"2019-06-14T10:46:51+00:00","remoteAddr":"","user":"admin","app":"files_antivirus","method":"--","url":"--","message":"About to scan file of user admin with id 64 and path \/Photos\/eicar_com.zip"}**

[2019-06-14 10:57] #308 closed

[2019-06-14 10:58] davitol commented on #307
@patrickjahns tarball is QA-ready

[2019-06-25 22:05] #307 closed

[2019-10-24 09:37] dpakach opened #334 "Can upload virus file with new public WebDAV API"
### Steps to reproduce
1. Setup files antivirus on owncloud instance.
2. Enable `tech_preview` in order to use new public WebDAV API.
[code]
3. Create a password protected public link share.
4. Try to upload a virus file with new public WebDAV API.
eg.
[code]

### Expected Behavior
The file will not be uploaded to public share

### Actual Result
The file gets uploaded and is in locked state.

[2019-12-12 03:11] phil-davis opened #340 "test antivirusFileSize.feature:13 fails"
Last night: https://drone.owncloud.com/owncloud/files_antivirus/1038/24/12
and https://drone.owncloud.com/owncloud/files_antivirus/1038/19/12
[code]

[code]

[2019-12-12 03:14] phil-davis commented on #340
@HariBhandari07 this started failing last night. Please assign someone to investigate.

[2019-12-12 11:19] HariBhandari07 commented on #340
@phil-davis I have run the failing scenario multiple times in this PR https://github.com/owncloud/files_antivirus/pull/341 and it passes. Should we close this issue and just declare it flakey.

[2019-12-12 11:27] phil-davis commented on #340
Maybe this is a timing issue and in drone we need to wait a bit until the AV service is up-and-running.
(something similar to what we did for the elastic search service)
We could put in a `wait-for-it` anyway - just need to work out what exactly to wait for ;)

[2019-12-13 02:36] phil-davis commented on #340
Failed again last night https://drone.owncloud.com/owncloud/files_antivirus/1050/28/15
[code]

[2019-12-14 05:41] skshetry commented on #340
This has been fixed by #342. Nightly passed with flying colors: https://drone.owncloud.com/owncloud/files_antivirus/1053

[2019-12-18 06:45] phil-davis commented on #340
Sadly, https://drone.owncloud.com/owncloud/files_antivirus/1062/31/15
[code]
but it did wait for clamav:
https://drone.owncloud.com/owncloud/files_antivirus/1062/31/13
[code]

The scenario that fails is always that first scenario, and usually it passes. So this does seem to be timing problem.

What else to wait for? Or do we give in and add an extra hard-coded 10 second wait after `wait-for-it -t

[2019-12-18 06:45] phil-davis commented on #340
@dpakach @HariBhandari07 @skshetry do you have any better ideas?

[2019-12-20 01:27] phil-davis commented on #340
https://drone.owncloud.com/owncloud/files_antivirus/1065/24/12
failed the same again last night.
maybe we have to put a hard-coded wait for 1 minute after waiting for clamav?

[2019-12-23 03:08] phil-davis commented on #340
https://drone.owncloud.com/owncloud/files_antivirus/1068/19/12
This failed on a later scenario:
[code]
???

[2019-12-31 04:09] phil-davis commented on #340
Fix has been done in PR #340 to use a modified `clamavd`

[2019-12-31 05:33] phil-davis opened #349 "accceptance tests failing dure to core changes"
https://drone.owncloud.com/owncloud/files_antivirus/1098/18/12

`Exception: Row with header 'number' expected to be in table but not found in /var/www/owncloud/testrunner/tests/acceptance/features/bootstrap/BasicStructure.php:2597` ...

Needs tables adjusted in feature files.

[2020-01-01 02:36] #349 closed

[2020-01-01 03:20] phil-davis opened #352 "Acceptance test fails due to core changes"
https://drone.owncloud.com/owncloud/files_antivirus/1103/18/12

[2020-01-03 03:36] dpakach commented on #352
Seems to be duplicate issue. with #349

[2020-01-03 03:36] #352 closed

[2020-01-03 15:29] micbar commented on #340
Let us wait for @VicDeo

[2020-01-06 03:11] phil-davis commented on #334
PR #335 added some scenarios for this that are skipped.
Search for `issue-334` when fixing this problem.

[2020-01-06 03:14] phil-davis commented on #334
@micbar this API is only active when `tech_preview` is enabled. But anyway, should someone be scheduled to look into this?
It might turn out to be some core hook that is not firing, or...

[2020-01-07 09:06] micbar commented on #334
@phil-davis good catch!
We need to keep this on the list for the productization of the new APIs.

[2020-01-07 09:18] micbar commented on #334
@phil-davis I created a EE Ticket for 10.5.0

[2020-01-15 15:50] C0rby commented on #334
It seems that it is not possible anymore to upload files using this webdav API.
All my attempts have been responded with:

[code]

[2020-01-22 11:53] VicDeo commented on #340
@phil-davis @micbar what exactly is needed from my side here?

[2020-01-22 12:47] micbar commented on #340
@VicDeo There were failures in nightly CI due to timing issues.

Currently they are using a custom docker image.
This solution should not be permanent.

@felixboehm This would need DevOps Efforts to include these changes and host the image  from owncloudci

[2020-01-22 12:55] VicDeo commented on #340
@micbar it doesn't look like  an app issue to me.
If I'm not mistaken the test is supposed to pass but the originally used clamav docker image need some time to populate virus DB (unlike the distribution package it is shipped with no DB at all).

So the docker container reports it is started but
1. it has no virus signatures initially
2. it is not possible to detect the point in time when the viru

[2020-01-22 12:57] micbar commented on #340
@VicDeo it is not an app issue, it is an CI issue.

[2020-01-22 12:58] VicDeo commented on #340
what I can suggest here
1. some kind of script that checks whether DB is ready
2. use any other clamav image instead of `dinkel/docker-clamavd` as we need eicar signature only.

[2020-01-22 12:59] skshetry commented on #340
@VicDeo, we moved to https://github.com/JankariTech/docker-clamavd which is maintained currently by JankariTech.

[2020-01-22 13:27] phil-davis commented on #340
ownCloud could make the same `docker-clamavd` image in `owncloud-ci` and then we switch to using that.

We made the JankariTech image over Christmas-New-Year because most ownCloud people were on leave. The changes in that image have proved to be more reliable in CI.

[2020-01-22 14:50] micbar commented on #340
@felixboehm for assigning devops resources.

[2020-02-01 09:55] sergiomb2 commented on #166
did you try run in comandline `clamscan` maybe you just need run freshclam first

[2020-02-09 05:09] phil-davis opened #356 "Virus infection message is different to expected"
https://drone.owncloud.com/owncloud/files_antivirus/1152/14/14
[code]

[code]

Need to investigate what changed.

[2020-02-10 06:31] phil-davis commented on #356
Fixed in #354

[2020-02-10 08:11] #356 closed

[2020-02-11 03:31] phil-davis commented on #340
@xoxys is this something that you (or some devops/sysadmin person)?
Or who do I ask to do this?

We want to make an `owncloudci/clamavd` that is the same as `jankaritechnepal/clamavd`
(so that ownCloud CI  does not depend on that JankariTech image)

[2020-02-11 07:30] xoxys commented on #340
@phil-davis @micbar  In the best case you will do it by your own. I can create an empty repo in owncloud-ci org and I can do PR reviews or help with some parts if needed. @phil-davis I've also sent you an invitation to the CI org

[2020-02-11 11:01] phil-davis commented on #340
@xoxys yes, please create an empty repo and I will put stuff in it.
(then I might need help to publish it - depends what privs I have on the docker publishing side)

[2020-02-11 11:41] xoxys commented on #340
@phil-davis Done. https://github.com/owncloud-ci/clamavd I've also added the boilerplate to the new repo and enabled drone.

[2020-02-11 11:47] phil-davis commented on #340
Assigned myself to sort out the new owncloudci/clamavd repo. (Probably tomorrow)

[2020-02-11 11:48] xoxys commented on #340
If you need something, please ping me

[2020-02-12 07:56] dpakach opened #359 "Run Core acceptance tests with files_antivirus"
Part of owncloud/QA#639

Run all or some of the core acceptance tests with files_antivirus.
These tests can be run only on the nightly runs.

[2020-02-18 15:48] #359 closed

[2020-07-07 09:09] voroyam opened #370 "Scan fails on big compressed files"
The clamAV has issues with large compressed files when uploading.

Customer reports that after a successful upload the file is stuck at ownCloud in the status bar at "Processing files" and the clamd processes runs with 100% CPU load. Customer waited for 45 min but no changes. Restarting the clamd process reduces the load, but the webUI process bar still claims "processing files".

---

Questions:

[2020-07-07 09:09] voroyam commented on #370
@VicDeo

[2020-07-27 09:42] micbar opened #374 "Antivirus 0.15.2"
### Reason: Hotfix Release

- Release needed for #373

### QA

- [x] Generate Changelog
- [x] Create **QA** Milestone and set the description to $version
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-$version"
- [ ] Create "$version Testplan"

### Build

All actions to be done on the release branch from here:
- [x] Bump version in `info.xml` (no v

[2020-07-27 11:36] davitol commented on #374
Tarball located here: https://github.com/owncloud/files_antivirus/releases/tag/v0.15.2 Sanity tested and LGTM

[2020-07-28 07:25] #374 closed

[2020-07-31 08:15] VicDeo commented on #370
@voroyam Note, that `scan-archive` is a CLI option. Using CLI mode is not recommended  as it is known to be slow and there is nothing we can do about it.

![Screenshot_20200731_111003](https://user-images.githubusercontent.com/991300/89014656-814ce000-d31e-11ea-889c-5fb34b6f7ced.png)

So my advice is to switch into socket/daemon mode and setup clamd accordingly:
[code]
https://linux.die.net/man/5/

[2020-07-31 09:07] voroyam commented on #370
So your advice is to simply add those 3 lines to the clams.conf while the app is in socket mode?

But with the Default set on yes, wouldn't it still scan the archives? This is what we want to avoid for the customer.

[2020-07-31 10:55] VicDeo commented on #370
@voroyam

nope, it is just an excerpt from `man clamd.conf`
my advice is to locate `ScanArchive` in `/etc/clamd.conf`, uncomment it,  set the value to `no`  and reload/restart clamd daemon

[2020-07-31 13:12] voroyam commented on #370
Okay, this is something I can forward to the customer. Thank you :)

[2020-09-09 14:13] voroyam commented on #370
@VicDeo what would be a good value for the max file size?

I think virus files are small files, so it would not be a good idea to scann a 750 GB upload, right?

[2020-09-21 17:10] linkp opened #378 "Cron error: ArgumentCountError: Too few arguments to function"
Installation Details
OS: Debian 10.5
OC: owncloud-files:all/unknown 10.5.0-1+2.1 uptodate
DB: mysql-community-server:amd64/buster 8.0.21-1debian10 uptodate
PHP: php7.4-fpm:amd64/buster 7.4.10-1+0~20200909.25+debian10~1.gbpe666e1 uptodate
APP: files_antivirus: 0.15.2

Since my upgrade from ownCloud 10.4 to 10.5 via the official Debian packages, the twice daily cron job that runs the Files_Antivirus

[2020-09-22 03:15] phil-davis commented on #378
https://www.php.net/manual/en/migration71.incompatible.php

Since PHP 7.1 a problem like this has thrown an exception. (In PHP 7.0 and earlier there was only a warning, and the code went on)

I don't see where this code path has changed recently, so I am thinking that the issue has been there for some time.

@linkp what version of PHP were you using before upgrading?

What cron settings do you hav

[2020-09-22 07:23] VicDeo commented on #378
strange.
There are a lot of apps that should fail the same way: activity, market, files_versions, etc...

[2020-09-22 17:57] linkp commented on #378
@phil-davis I was running ownCloud 10.4 on php 7.3 since it wasn't compatible with php 7.4. I switched to php 7.4 after upgrading to ownCloud 10.5. Both FPM & CLI PHP are on 7.4.

I run my cron from system cron every 15 minutes as the www-data user with the following:
` /usr/bin/chronic /usr/bin/php -f /var/www/owncloud/occ system:cron`
Chronic simply runs a command quietly unless it fails.

[2020-11-10 08:44] phil-davis opened #382 "Unit tests failing in CI"
When PR #379 was merged there were errors in the unit tests.

I made a test PR #381 an that also has the same unit test fails:
https://drone.owncloud.com/owncloud/files_antivirus/1522/4/7

[code]

[2020-11-10 08:44] phil-davis commented on #382
@DeepDiver1975 the PR was merged with failing unit tests.
Do you expect these to start passing? Maybe with some updated code? Or?

[2020-11-10 08:48] DeepDiver1975 commented on #382
I'll take care asap - GH was showing a green ci status for me ... WTF ...

[2020-11-10 10:22] #382 closed

[2020-11-24 11:17] jnweiger opened #385 "files_antivirus 1.0.0"
### Reason

- Release needed for ICAP support; #379  Allow to use a scanner class living outside the app
- Move executable options into config.php #442

### Product approval

- [x] Verify transifex commits are in master: If a folder https://github.com/owncloud/file_antivirus/tree/master/l10n exists, then https://drone.owncloud.com/owncloud/files_antivirus should receive nightly '[tx] updated from

[2020-12-30 05:40] phil-davis commented on #340
ToDo:
- [ ] sort out https://github.com/owncloud-ci/clamavd so it provides a clamav docker
- [ ] adjust CI here to use owncloudci/clamavd

[2020-12-31 08:41] #340 closed

[2021-01-12 01:31] jnweiger opened #391 "[QA] 1.0.0 Testplan"
## References
  -  Testplan [template](https://github.com/owncloud/QA/edit/master/Server/Test_Plan_Files_Antivirus.md)
  - Download: https://www.eicar.org/?page_id=3950
  - https://doc.owncloud.com/server/10.7/admin_manual/configuration/server/virus-scanner-support.html
  - https://github.com/owncloud-docker/compose-playground/tree/master/examples/hetzner-deploy

## Setup

* [x] Deploy server 10.7

[2021-02-04 14:05] jnweiger commented on #391
Messages seen in owncloud.log:
[code]

[2021-02-04 14:23] jnweiger commented on #391
* [ ] files_antivirus 0.16.0RC1.tar.gz was apparently not signed. appdata/signature.json is missing.

[2021-02-04 15:12] jnweiger opened #393 "[QA] signing files_antrivirus 0.16.0 fails"
Seen while building `files_antivirus-0.16.0RC1.tar.gz`:

The `make dist` step reports `Signing Successful` but in the end appinfo/signature.json is not in the dist package.
And owncloud complains about a code integrity issue with class:

The logs have:
[code]

[2021-02-04 15:13] jnweiger commented on #393
`files_antivirus-0.15.2.tar.gz` had a signature.json file.

[2021-02-04 15:14] jnweiger commented on #385
## Issues opened while testing

* [ ] #393 - [QA] signing files_antrivirus 0.16.0 fails

[2021-02-04 15:25] VicDeo commented on #393
@jnweiger what OC version is used to sign the app. I have no issues with signing it:
[code]

[2021-02-04 15:28] VicDeo commented on #393
not `work/checkouts/files_antivirus/build/artifacts/source`
but `work/checkouts/files_antivirus/build/artifacts/appstore`

[2021-02-04 22:32] jnweiger commented on #393
Ah, thanks for checking @VicDeo
I am using the wrong branch, the sources vs artifacts bug is fixed in another branch of the toolchain. sorry for the noise :-)
@micbar, would you approve merging these branches please?

[2021-02-05 01:25] jnweiger opened #394 "[QA] occ app:check fails"
Seen with files_antivirus-0.16.0RC1  installed in oc-10.6.0:

`occ app:check files_antivirus`
[code]

[2021-02-05 01:32] jnweiger opened #395 "[QA] eicar virus produces wrong error message"
Seen with files_antivurus 0.16.0RC1 in oc-10.6.0:

![image](https://user-images.githubusercontent.com/1108546/106977093-ee23b580-6759-11eb-99ee-81ee221db680.png)
Permission to upload 'here' is the wrong reason. I have upload permission here. It fails due to a detected virus signature.

Expected behaviour: the message should say: "virus detected: eicar"

[2021-02-05 01:48] jnweiger opened #396 "[QA] default mode 'executable' is slowest"
Seen with files_antivirus 0.16.0RC1 in oc-10.6.0

Following the setup instructions in https://doc.owncloud.com/server/10.6/admin_manual/configuration/server/virus-scanner-support.html
The documentation discusses mode configuration.
For mode 'Executable' it warns:
"TIP
clamscan is slow and not always reliable for on-demand usage; it is better to use one of the daemon modes."

Nevertheless, the inst

[2021-02-05 01:56] jnweiger opened #397 "[QA] Documentation: log/delete choice"
Seen with files_antivirus-0.16.0RC1 in oc-10.6.0

When a file contains the eicar virus signature it cannot be uploaded. (Permission denied error).
The admin configuration under security -> antiVirus allows no choice for this behaviour.

However the documentation explains:

----

#### What To Do With Infected Files Found During Scans

When infected files are detected during a scan, the app can take

[2021-02-10 11:02] jnweiger commented on #385
# tested with 0.16.0RC1: installed succesfully at oc10.6.0

Setup done for
* internal clamav
* icap docker clamav cicap

TODO: Kaspersky setup. (license renewal WIP)

[2021-02-12 10:13] VicDeo commented on #396
@jnweiger the main idea behind this behavior is that `clamscan` is available in 99% of set ups while daemon/socket mode could be unavailable. So enabling the app makes the protection working right away.

There is a room for improvement definitely...
E.g. we can probe the socket/daemon defaults  () after the app is enabled  and use executable mode if the probe was unsuccessful

[2021-02-12 15:10] VicDeo commented on #394
The first  needs quite lot of efforts to eliminate it
The second is not fixable at all with current core -  there is no method to teardown an user filesystem within a public namespace.

All the rest are addressed in https://github.com/owncloud/files_antivirus/pull/398

[2021-02-15 17:43] jnweiger commented on #395
@VicDeo tracked that down to https://github.com/owncloud/core/blob/v10.4.1/apps/files/js/file-upload.js#L1205
I suggest to move the issue to core.

[2021-02-15 18:11] jnweiger opened #400 "[QA] admin UI disappears when 'files-antivirus.scanner-class' is set"
Tested with core 10.6.0, files_antivirus 0.16.0RC1, icap-1.0.0RC2

Normally, the owncloud admin user can configure files_antivirus via the security page:
![image](https://user-images.githubusercontent.com/1108546/107980458-9a6a6500-6fc0-11eb-8e5a-c6162066a65c.png)

----

As soon as icap and files_antivirus are connected via `occ config:system:set "files-antivirus.scanner-class" --value='OCA\ICAP\S

[2021-02-15 20:33] jnweiger commented on #391
Nice: :grin:
![image](https://user-images.githubusercontent.com/1108546/107990724-55046280-6fd5-11eb-89f5-4eaf2f95d400.png)

[2021-02-15 20:39] jnweiger commented on #391
Script to exercise the different variants of old and new dav and chunked upload
[test_av_dav_chunking.zip](https://github.com/owncloud/files_antivirus/files/5984000/test_av_dav_chunking.zip)

[2021-02-15 21:13] VicDeo commented on #400
This is how it was implemented by @DeepDiver1975  in https://github.com/owncloud/files_antivirus/pull/379

[2021-02-15 21:59] jnweiger commented on #400
At least the "File size limit" is active when connected to icap. See https://github.com/owncloud/icap/issues/24

[2021-02-15 22:48] jnweiger commented on #385
Testplan completed with issues.
I recommed that at least #400 should be fixed for the release.

[2021-02-15 23:24] DeepDiver1975 commented on #400
this is done by intention.

icap config is set in config.php - web frontend has no capabilities to change config.php -> case closed ;-)

[2021-02-15 23:48] jnweiger opened #401 "[QA] download from external storage is not scanned"
Tested with core 10.6.0, files_antivirus 0.16.0RC1, icap-1.0.0RC2, kse-2.0.0.1157 via hetzner-deploy/setup_icap_kaspersky.sh
testpilotcloud-client 2.7.5 (build 3179)

* wget https://secure.eicar.com/eicar.com.txt ...
* Connect the ownloud server to an external storage. E.g. va SFTP and add some eicar test files into that storage:

[code]
* connect the client with user admin and wait for initial sy

[2021-02-16 00:00] jnweiger commented on #401
* eicar.com.txt can be opened with the text editor in the Web UI. BAD.
* eicar.com can be downloaded from the Web UI. BAD.

[2021-02-16 09:22] VicDeo commented on #401
it was agreed that we scan **on write**
scanning both on read and write will make the app superslow.

[2021-02-16 09:25] VicDeo commented on #401
@jnweiger https://doc.owncloud.com/server/10.6/admin_manual/configuration/server/virus-scanner-support.html#things-to-note

[2021-02-16 11:07] VicDeo commented on #397
@jnweiger documentation:
https://doc.owncloud.com/server/10.6/admin_manual/configuration/server/virus-scanner-support.html#available-configuration-settings

Setting | Description | Default
-- | -- | --
av_cmd_options | Extra command line options (comma-separated) to pass to ClamAV. |  
av_host | The hostname or IP address of the Antivirus server. |  
av_infected_action | The action to take when in

[2021-02-16 13:08] VicDeo commented on #396
https://github.com/owncloud/files_antivirus/pull/399 introduces autoprobe when the app is enabled for the first time.
Now `executable`  is used by default only after both  daemon and socket mode are proved not to respond

[2021-02-17 00:12] jnweiger commented on #401
I wonder if there are any admins out there who'd favour an option "slow+safe" over "fast+spreading".

[2021-02-17 00:33] VicDeo commented on #401
well, let those admin scan an external storage with any other tool **before** connecting it to owncloud ;)
we don't scan twice. wrapping `fwrite` operation does NOT allow to refer by file id which means that scanning both on read and on write means 'scanning twice'

[2021-02-17 01:33] phil-davis commented on #401
IMO if you have a backend storage that you allow to be written to by somehow other than ownCloud, then that other "somehow" must also do anti-virus scan on write.

[2021-02-18 15:47] jnweiger commented on #396
Cool. That is good news.
We can accept a slow default for a while. Robustness is more important.

[2021-02-18 15:47] #396 closed

[2021-02-18 15:51] jnweiger commented on #400
No. The file size limit from the gui is effective and the background scan setting is still effective.  see above.
Don't hide them!
Hide only the top part of the UI would be correct.

[2021-02-18 15:53] jnweiger commented on #401
@pmaier1 is this input for docu, relnotes?

[2021-02-19 13:15] VicDeo commented on #395
core regression for versions 10.4.1 - 10.6.0
fixed with https://github.com/owncloud/core/pull/38416

[2021-02-19 13:15] #395 closed

[2021-02-25 00:09] #397 closed

[2021-03-10 15:25] #370 closed

[2021-03-17 14:39] DeepDiver1975 opened #407 "icap acceptance tests"
Followup from https://github.com/owncloud/files_antivirus/pull/405

- [x] integrate icap into acceptance tests

[2021-03-23 05:49] individual-it commented on #407
PR for running current acceptance tests with icap:  #409

we could add more tests, those things are also not tested with the old settings:
- UI tests for the settings
- behaviour on API / UI level if settings are set wrong / server dies

anything of that needed?

additionally we run all core tests with antivirus in the nightly builds, do we want to extend that to run them all also with icap?

[2021-03-23 06:22] individual-it commented on #334
the test-data in the original post was wrong, I've corrected it.

The bug is still there but different now:
- uploading the fist time uploads the file, but results in a `LockedException` and the size of the file is listed as 0bytes but the content is still uploaded
 `curl http://localhost/owncloud-core/remote.php/dav/public-files/U44ArE94vPVkIfv/new.txt -X PUT -H "Content-Type: text/plain" --data

[2021-03-23 07:27] DeepDiver1975 commented on #407
#409 is enough for me .... anything else to be decided by whoever is the overall qa responsible ....

[2021-03-23 09:03] micbar opened #410 "socket_shutdown(): unable to shutdown socket [57]"
# Description

- Error message in the log file during upload of test file

## Configuration

![Screenshot_2021-03-23 Settings - ownCloud](https://user-images.githubusercontent.com/4378513/112120607-b7e1ae80-8bbe-11eb-8746-0582a81c22ed.png)

Using the docker image
[code]

[code]

[2021-03-23 09:04] micbar commented on #410
@DeepDiver1975

[2021-03-23 10:13] #410 closed

[2021-03-25 04:26] individual-it commented on #407
closing this issue, feel free to re-open if more tests are needed

[2021-03-25 04:26] #407 closed

[2021-03-31 14:16] DeepDiver1975 commented on #385
we just merged https://github.com/owncloud/files_antivirus/pull/413 into master
this adds McAfee support - we might want to add this to docs, release notes as well as app description

@hodyroff @pmaier1 @micbar

[2021-03-31 14:17] #394 closed

[2021-03-31 14:17] DeepDiver1975 commented on #400
not relevant anymore - icap app no longer exists

[2021-03-31 14:17] #400 closed

[2021-03-31 14:19] #393 closed

[2021-04-03 07:12] phil-davis opened #414 "Unit tests fail sometimes"
https://drone.owncloud.com/owncloud/files_antivirus/1762/11/8
[code]

I think there might just be a timing problem with the antivirus scanner starting up - https://drone.owncloud.com/owncloud/files_antivirus/1762/11/3 - in that example the docker image `deepdiver/icap-clamav-service` had not pulled but the unit tests started.

Probably we just need to have a step before the unti tests that waits f

[2021-04-06 02:57] phil-davis commented on #414
Also last night https://drone.owncloud.com/owncloud/files_antivirus/1766/11/8
[code]

I restarted CI just now to see if it repeats.

[2021-04-06 14:52] jnweiger commented on #385
Back to dev. 0.16.0 will not happen like this. A 1.0.0 beta is under way.

[2021-04-06 15:52] pmaier1 commented on #385
Info.xml update https://github.com/owncloud/files_antivirus/pull/415

[2021-04-09 05:48] #414 closed

[2021-04-09 09:45] jnweiger commented on #391
QA managed by @micbar outside of BTR team.

[2021-04-16 09:51] martjanoff opened #419 "[QA] The system becomes unresponsive when ClamAV service has stopped"
Issue can be reproduced if to simulate ClamAV service stop.
Getting error 500 after login.

ClamAV log file:
[code]

The owncloud log:
[code]

![Clipboard - April 14, 2021 10_47 AM](https://user-images.githubusercontent.com/37621174/114996837-e8f48c80-9ea7-11eb-9560-5cb03d47ebb5.png)

**Expected behavior:** the system should still work. Uploads should fail with "Virus Scanner unavailable" error me

[2021-04-18 22:39] phil-davis opened #420 "Icap unit tests fail sometimes"
https://drone.owncloud.com/owncloud/files_antivirus/1811/11/8
[code]

https://drone.owncloud.com/owncloud/files_antivirus/1811/7/9
[code]

Issue #414 was closed after adding some waits for the Icap server to start up in CI. But there are still "random" unit test fails happening in CI.

[2021-04-19 08:46] micbar commented on #419
@VicDeo Could you take a look?

[2021-04-19 12:23] VicDeo commented on #419
@martjanoff please share more detailed reproduction steps including
- your files_antivirus version (or branch that was used to reproduce it)
- output for `occ config:list files_antivirus`

[2021-04-19 12:44] VicDeo commented on #419
OC version: master@7afc5d5bcec244af3d6ff4779382f1035d6c76c3
[code]
files_antivirus version: master@d2ae79c639e0d0d48d58ca0a59078d575eb10083 with the following settings:

[code]

Login works.
Uploading works as expected either:
![Screenshot_20210419_154042](https://user-images.githubusercontent.com/991300/115237905-c4a5e380-a125-11eb-8ab9-f2507209a9b5.png)

So I guess I miss some crucial app settin

[2021-04-20 08:53] martjanoff opened #422 "[QA] Field validation passing Port number > 65535 on Antivirus Configuration screen"
**Steps to reproduce:**
1. Log in as admin
2. Go to Settings -> Security
3. Mode - Daemon
4. Type in "81344" in Port field
5. Click on "Save" button

**Expected result:**
"Please match the requested format" info tip shown. Saving should not processed.
![2021-04-20_10-33-21](https://user-images.githubusercontent.com/37621174/115366712-3afe2080-a1ce-11eb-8180-d4933aaa1c01.png)

**Actual result:**
Ch

[2021-04-20 11:50] jnweiger commented on #422
Good spotting. Thanks. Adding that to the testplan!

[2021-04-20 11:51] jnweiger commented on #385
# Issues opened while testing 1.0.0

* [ ] #422 - [QA] Field validation passing Port number > 65535 on Antivirus Configuration screen